Repository DeveloperAcademy-POSTECH/MC2-Team5-Firefighter, pull requests merged in 2022-06, with the labels that each got.

#4 [ADD] SnapKit 추가
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: ⚙️ Setting, 👾 듀나

#8 [ADD] Design Color 추가
  Manito/Manito/Global/Extension/UIColor+Extension.swift
Labels: 🖍 Design, ⚙️ Setting, 👾 듀나

#10 [ADD] 쪽지함 뷰 레이아웃 완료
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Base/BaseViewController.swift
  Manito/Manito/Global/Extension/UIColor+Extension.swift
  Manito/Manito/Global/Literal/ImageLiteral.swift
  Manito/Manito/Global/Resource/Storyboards/Letter.storyboard
  Manito/Manito/Global/UIComponent/BackButton.swift
  Manito/Manito/Screens/Letter/Cell/LetterCollectionViewCell.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
  Manito/Manito/Screens/Letter/UIComponent/LetterHeaderView.swift
  Manito/Manito/Screens/Letter/UIComponent/SendLetterView.swift
Labels: 🖍 Design, ▪️ Letter, 👾 듀나

#14 [ADD] 대기중 뷰 레이아웃 완료
  Manito/Manito.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Manito/Manito/Global/Extension/UIColor+Extension.swift
  Manito/Manito/Global/Resource/Storyboards/DetailWait.storyboard
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
Labels: 🖍 Design, ▪️ Detail-wait, 👾 케미

#16 [ADD] 공통 버튼 추가
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Manito/Manito/Global/Extension/UIView+Extension.swift
  Manito/Manito/Global/UIComponent/MainButton.swift
  Manito/Manito/Screens/Letter/UIComponent/SendLetterView.swift
Labels: 🖍 Design, 👾 듀나

#20 [ADD] 닉네임 생성 뷰 UI 구성완료
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Manito/Manito/Global/Resource/Storyboards/Splash.storyboard
  Manito/Manito/Screens/CreateNickName/CreateNickNameViewController.swift
  Manito/Manito/Screens/CreateRoom/Component/InputNameView.swift
Labels: 🖍 Design, ▪️ Nickname, 👾 호야

#24 [ADD] auto_assign.yml 파일 생성
  .github/auto_assign.yml
Labels: ⚙️ Setting, 👾 듀나

#25 [FEAT] nickname 생성하는 뷰 기능 구현
  Manito/Manito/Screens/CreateNickName/CreateNickNameViewController.swift
Labels: ▪️ Nickname, 👾 호야

#27 [ADD] 디테일 진행중 UI 구현
  Manito/Manito/Global/Resource/Storyboards/Base.lproj/Main.storyboard
  Manito/Manito/Global/Resource/Storyboards/DetailIng.storyboard
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
Labels: 🖍 Design, ▪️ Detail-ing, 👾 리비

#28 [FEAT] 닉네임 생성 뷰 키보드 크기 맞춰서 위치 변경
  Manito/Manito/Global/Base/BaseViewController.swift
  Manito/Manito/Global/Extension/UIViewController+Extension.swift
  Manito/Manito/Screens/CreateNickName/CreateNickNameViewController.swift
Labels: ▪️ Nickname, 👾 호야

#29 [ FEAT] DetailView 네비게이션 버튼들 기능 추가
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Extension/UIViewController+Extension.swift
  Manito/Manito/Global/Literal/ImageLiteral.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/DetailWaitTitleView.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/ExitButton.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/SettingButton.swift
Labels: 🖍 Design, ▪️ Detail-wait, 👾 케미

#31 [ADD] Letter CollectionView Cell Layout 구현 완료
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Manito/Manito/Global/Extension/UIColor+Extension.swift
  Manito/Manito/Global/Extension/UILabel+Extension.swift
  Manito/Manito/Global/Extension/UIView+Extension.swift
  Manito/Manito/Network/Models/Letter.swift
  Manito/Manito/Screens/Letter/Cell/LetterCollectionViewCell.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
  Manito/Manito/Screens/Letter/UIComponent/LetterHeaderView.swift
Labels: 🖍 Design, ▪️ Letter, 👾 듀나

#36 [ADD] 디테일 진행중 완료 UI구현 완료
  Manito/Manito/Global/Resource/Storyboards/DetailIng.storyboard
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
Labels: 🖍 Design, ▪️ Detail-ing, 👾 리비

#39 [ADD] DetailView modal구현 완료
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Manito/Manito/Global/Extension/UIColor+Extension.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/DetailHalfModalController.swift
Labels: 🖍 Design, ▪️ Detail-wait, 👾 케미

#38 [ADD] Main UI 구현
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Base/BaseViewController.swift
  Manito/Manito/Global/Resource/Storyboards/Base.lproj/Main.storyboard
  Manito/Manito/Global/UIComponent/SettingButton.swift
  Manito/Manito/Screens/Main/Cell/CreateRoomCollectionViewCell.swift
  Manito/Manito/Screens/Main/Cell/ManitoRoomCollectionCell.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Screens/Main/UIComponent/AppTitleView.swift
  Manito/Manito/Screens/Main/UIComponent/CommonMissonView.swift
  Manito/Manito/Screens/Main/UIComponent/RoomStateView.swift
Labels: 🖍 Design, ▪️ Main, 👾 코비

#40 [ADD] 쪽지 생성 뷰 Layout 완료
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Manito/Manito/Global/Literal/ImageLiteral.swift
  Manito/Manito/Global/Resource/Storyboards/Letter.storyboard
  Manito/Manito/Screens/CreateRoom/CreateRoomViewController.swift
  Manito/Manito/Screens/Letter/CreateLetterViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
  Manito/Manito/Screens/Letter/UIComponent/IndividualMissionView.swift
  Manito/Manito/Screens/Letter/UIComponent/LetterPhotoView.swift
  Manito/Manito/Screens/Letter/UIComponent/LetterTextView.swift
  Manito/Manito/Screens/Letter/UIComponent/SendLetterView.swift
Labels: 🖍 Design, ▪️ Letter, 👾 듀나

#42 [ADD] 마니또 참가명단 UI구현
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Manito/Manito/Global/Resource/Storyboards/DetailIng.storyboard
  Manito/Manito/Screens/Detail-Ing/Cell/FriendCollectionViewCell.swift
  Manito/Manito/Screens/Detail-Ing/FriendListViewController.swift
Labels: 🖍 Design, ▪️ Detail-ing, 👾 리비

#44 [CHORE] 방장, 참여자 둘 다 설정버튼으로 수정
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
Labels: 🖍 Design, ▪️ Detail-wait, 👾 케미

#49 [FEAT] 쪽지 작성 내부 기능 완료
  Manito/Manito/Global/Extension/UIView+Extension.swift
  Manito/Manito/Global/Extension/UIViewController+Extension.swift
  Manito/Manito/Global/Supports/Info.plist
  Manito/Manito/Screens/Letter/CreateLetterViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
  Manito/Manito/Screens/Letter/UIComponent/LetterPhotoView.swift
  Manito/Manito/Screens/Letter/UIComponent/LetterTextView.swift
Labels: ▪️ Letter, 👾 듀나

#52 [FEAT] 캘린더 기간 설정 기능 추가
  Manito/Manito/Screens/Detail-Wait/UIComponent/DetailHalfModalController.swift
Labels: ▪️ Detail-wait, 👾 케미

#55 [FEAT] 사진, 라이브러리를 허용하지 않았을 때, 포토 버튼을 눌렀을 경우 로직 구현
  Manito/Manito.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Manito/Manito/Global/Extension/UIView+Extension.swift
  Manito/Manito/Global/Resource/Storyboards/Splash.storyboard
  Manito/Manito/Screens/Letter/UIComponent/LetterPhotoView.swift
Labels: ▪️ Letter, 👾 듀나

#57 [ADD] 함께 했던 기록 UI구현
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Manito/Manito/Global/Resource/Storyboards/DetailIng.storyboard
  Manito/Manito/Screens/Detail-Ing/MemoryViewController.swift
Labels: 🖍 Design, ▪️ Detail-ing, 👾 리비

#60 [ADD] Splash 뷰 생성
  .github/ISSUE_TEMPLATE/manito-bug-report.md
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Manito/Manito/Global/Literal/ImageLiteral.swift
  Manito/Manito/Global/Resource/GIFs/logo.gif
  Manito/Manito/Global/Resource/Storyboards/Splash.storyboard
  Manito/Manito/Screens/Splash/SplashViewController.swift
Labels: 🖍 Design, 👾 듀나, ▪️ Splash

#59 [ADD] DetailView 이미지 추가
  Manito/Manito/Global/Resource/Assets.xcassets/btnSliderThumb.imageset/Contents.json
  Manito/Manito/Global/Resource/Assets.xcassets/btnSliderThumb.imageset/btnSllderThumb.png
  Manito/Manito/Global/Resource/Assets.xcassets/btnSliderThumb.imageset/btnSllderThumb@2x.png
  Manito/Manito/Global/Resource/Assets.xcassets/btnSliderThumb.imageset/btnSllderThumb@3x.png
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/DetailHalfModalController.swift
Labels: 🖍 Design, ▪️ Detail-wait, 👾 케미

#63 [FIX] Calendar 날짜 선택 오류 수정
  Manito/Manito/Screens/Detail-Wait/UIComponent/DetailHalfModalController.swift
Labels: 🐞 Bugfix, ▪️ Detail-wait, 👾 케미

#66 [FEAT] 방생성 기능 추가 및 UI추가
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Extension/UINotification+Extension.swift
  Manito/Manito/Global/Literal/ImageLiteral.swift
  Manito/Manito/Global/Supports/Info.plist
  Manito/Manito/Screens/CreateNickName/CreateNickNameViewController.swift
  Manito/Manito/Screens/CreateRoom/Component/CheckRoomView.swift
  Manito/Manito/Screens/CreateRoom/Component/InputDateView.swift
  Manito/Manito/Screens/CreateRoom/Component/InputNameView.swift
  Manito/Manito/Screens/CreateRoom/Component/InputPersonView.swift
  Manito/Manito/Screens/CreateRoom/CreateRoomViewController.swift
Labels: ▪️ Create Room, 👾 호야

#65 [REFACTOR] DetailView 코드 분리
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Screens/Detail-Wait/DetailEditViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/CalendarView.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/DetailHalfModalController.swift
Labels: ▪️ Detail-wait, 🔨 Refactor, 👾 케미

#67 [ADD] 마니또 공개 뷰 구현
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Extension/Int+Extension.swift
  Manito/Manito/Global/Extension/Notification+Extension.swift
  Manito/Manito/Global/Resource/Storyboards/Interaction.storyboard
  Manito/Manito/Screens/Interaction/Cell/ManittoCollectionViewCell.swift
  Manito/Manito/Screens/Interaction/OpenManittoViewController.swift
  Manito/Manito/Screens/Letter/CreateLetterViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
  Manito/Manito/Screens/Letter/UIComponent/LetterPhotoView.swift
  Manito/Manito/Screens/Letter/UIComponent/LetterTextView.swift
Labels: 🖍 Design, 👾 듀나, ▪️ Manitto Interaction

#69 [ADD] 마니또 공개 팝업 뷰 추가
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Extension/UILabel+Extension.swift
  Manito/Manito/Global/Resource/Storyboards/Interaction.storyboard
  Manito/Manito/Screens/Interaction/OpenManittoPopupViewController.swift
  Manito/Manito/Screens/Interaction/OpenManittoViewController.swift
Labels: 🖍 Design, 👾 듀나, ▪️ Manitto Interaction

#71 [ADD] 마니또 랜덤 선정 뷰 구현
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Extension/UIView+Extension.swift
  Manito/Manito/Global/Literal/ImageLiteral.swift
  Manito/Manito/Global/Resource/GIFs/capsule.gif
  Manito/Manito/Global/Resource/GIFs/joystick.gif
  Manito/Manito/Global/Resource/Storyboards/Interaction.storyboard
  Manito/Manito/Global/UIComponent/MainButton.swift
  Manito/Manito/Screens/Interaction/SelectManittoViewController.swift
Labels: 🖍 Design, 👾 듀나, ▪️ Manitto Interaction

#74 [DOCS] Update README
  README.md
Labels: 📖 Docs, 👾 듀나

#78 [ADD] AppIcon 추가
  Manito/Manito/Global/Resource/Assets.xcassets/AppIcon.appiconset/1024.png
  Manito/Manito/Global/Resource/Assets.xcassets/AppIcon.appiconset/114.png
  Manito/Manito/Global/Resource/Assets.xcassets/AppIcon.appiconset/120.png
  Manito/Manito/Global/Resource/Assets.xcassets/AppIcon.appiconset/180.png
  Manito/Manito/Global/Resource/Assets.xcassets/AppIcon.appiconset/29.png
  Manito/Manito/Global/Resource/Assets.xcassets/AppIcon.appiconset/40.png
  Manito/Manito/Global/Resource/Assets.xcassets/AppIcon.appiconset/57.png
  Manito/Manito/Global/Resource/Assets.xcassets/AppIcon.appiconset/58.png
  Manito/Manito/Global/Resource/Assets.xcassets/AppIcon.appiconset/60.png
  Manito/Manito/Global/Resource/Assets.xcassets/AppIcon.appiconset/80.png
  Manito/Manito/Global/Resource/Assets.xcassets/AppIcon.appiconset/87.png
  Manito/Manito/Global/Resource/Assets.xcassets/AppIcon.appiconset/Contents.json
  Manito/Manito/Global/Supports/Info.plist
Labels: 🖍 Design, 👾 듀나

#80 [BUG] NavigationController로 인한 문제 해결
  Manito/Manito/Screens/Letter/LetterViewController.swift
Labels: 🐞 Bugfix, ▪️ Letter, 👾 듀나

#83 [DOCS] gif 파일 변경
  README.md
Labels: 🐞 Bugfix

#81 [ADD] 방 참가하기 화면 구성
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Manito/Manito/Global/Extension/UIColor+Extension.swift
  Manito/Manito/Global/Resource/Storyboards/CheckRoom.storyboard
  Manito/Manito/Global/Resource/Storyboards/ChooseCharacter.storyboard
  Manito/Manito/Global/Resource/Storyboards/ParticipateRoom.storyboard
  Manito/Manito/Screens/CheckRoom/CheckRoomViewController.swift
  Manito/Manito/Screens/CheckRoom/UIComponent/PeopleInfoView.swift
  Manito/Manito/Screens/CheckRoom/UIComponent/RoomInfoView.swift
  Manito/Manito/Screens/ChooseCharacter/ChooseCharacterViewController.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Screens/ParticipateRoom/ParticipateRoomViewController.swift
  Manito/Manito/Screens/ParticipateRoom/UIComponent/InputInvitedCodeView.swift
Labels: 🖍 Design, ▪️ Main, 👾 코비

#88 [CHORE] padding Literal 추가
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Literal/Size.swift
Labels: 🖍 Design, 👾 케미

#89 [CHORE] color 변수 수정
  Manito/Manito/Global/Extension/UIColor+Extension.swift
  Manito/Manito/Global/Literal/ValueLiteral.swift
  Manito/Manito/Global/UIComponent/MainButton.swift
  Manito/Manito/Screens/CreateNickName/CreateNickNameViewController.swift
  Manito/Manito/Screens/CreateRoom/Component/InputNameView.swift
  Manito/Manito/Screens/CreateRoom/CreateRoomViewController.swift
  Manito/Manito/Screens/Detail-Ing/MemoryViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailEditViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/CalendarView.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/DetailWaitTitleView.swift
  Manito/Manito/Screens/Letter/Cell/LetterCollectionViewCell.swift
  Manito/Manito/Screens/Letter/UIComponent/IndividualMissionView.swift
  Manito/Manito/Screens/Letter/UIComponent/LetterHeaderView.swift
  Manito/Manito/Screens/Letter/UIComponent/LetterPhotoView.swift
  Manito/Manito/Screens/Letter/UIComponent/LetterTextView.swift
  Manito/Manito/Screens/Main/Cell/CreateRoomCollectionViewCell.swift
  Manito/Manito/Screens/Main/Cell/ManitoRoomCollectionCell.swift
  Manito/Manito/Screens/Main/UIComponent/CommonMissonView.swift
Labels: 🖍 Design, 👾 케미

#91 [CHORE] color변수명 수정
  Manito/Manito/Screens/ParticipateRoom/UIComponent/InputInvitedCodeView.swift
Labels: 👾 케미, ParticipateRoom

#82 [ADD] 메인화면 이미지 삽입
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Resource/Assets.xcassets/imgTto.imageset/Contents.json
  Manito/Manito/Global/Resource/Assets.xcassets/imgTto.imageset/imgTti.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgTto.imageset/imgTti@2x.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgTto.imageset/imgTti@3x.png
  Manito/Manito/Global/Resource/Storyboards/Base.lproj/Main.storyboard
  Manito/Manito/Screens/Main/Cell/CreateRoomCollectionViewCell.swift
  Manito/Manito/Screens/Main/Cell/ManitoRoomCollectionCell.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Screens/Main/UIComponent/AppTitleView.swift
  Manito/Manito/Screens/Main/UIComponent/RoomStateView.swift
Labels: 🖍 Design, ▪️ Invite Room, 👾 코비

#93 [DOCS] assign-reviewer 수정
  .github/auto_assign.yml
Labels: 📖 Docs, ⚙️ Setting, 👾 듀나
