Repository DeveloperAcademy-POSTECH/MC2-Team5-Firefighter, pull requests merged in 2022-12, with the labels that each got.

#346 [FIX] Toast 팝업 중복 코드 없애고 코드 양 줄이기
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/UIComponent/ToastPopupView.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/InvitedCode/InvitedCodeViewController.swift
Labels: 🔨 Refactor, 👾 호야, 🏖 Relax

#341 [FEAT] 쪽지 뷰에서 사진 저장 버튼을 눌렀을 때 사진이 저장되는 기능을 구현했습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Literal/ImageLiteral.swift
  Manito/Manito/Global/Literal/TextLiteral.swift
  Manito/Manito/Global/Resource/Assets.xcassets/ic_save.imageset/Contents.json
  Manito/Manito/Global/Resource/Assets.xcassets/ic_save.imageset/ic_save.png
  Manito/Manito/Global/Resource/Assets.xcassets/ic_save.imageset/ic_save@2x.png
  Manito/Manito/Global/Resource/Assets.xcassets/ic_save.imageset/ic_save@3x.png
  Manito/Manito/Screens/Letter/LetterImageViewController.swift
Labels: ▪️ Letter, 👾 듀나, ✨ Feature

#347 [REFACTOR] 메인 화면 및 방참가 코드 리펙토링
  Manito/Manito/Screens/CheckRoom/CheckRoomViewController.swift
  Manito/Manito/Screens/CheckRoom/UIComponent/PeopleInfoView.swift
  Manito/Manito/Screens/CheckRoom/UIComponent/RoomInfoView.swift
  Manito/Manito/Screens/ChooseCharacter/ChooseCharacterViewController.swift
  Manito/Manito/Screens/ChooseCharacter/UIComponent/CharacterCollectionViewCell.swift
  Manito/Manito/Screens/Main/Cell/CreateRoomCollectionViewCell.swift
  Manito/Manito/Screens/Main/Cell/ManitoRoomCollectionCell.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Screens/Main/UIComponent/CommonMissonView.swift
  Manito/Manito/Screens/Main/UIComponent/RoomStateView.swift
  Manito/Manito/Screens/ParticipateRoom/ParticipateRoomViewController.swift
  Manito/Manito/Screens/ParticipateRoom/UIComponent/InputInvitedCodeView.swift
Labels: ▪️ Main, 🔨 Refactor, 👾 코비, ▪️ ParticipateRoom, ▪️ Character-choose, 🛠 Chore

#353 [FEAT] 푸시 알림 기능 추가
  Manito/GoogleService-Info.plist
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Manito/Manito/Global/Supports/AppDelegate.swift
  Manito/Manito/Global/Supports/Info.plist
  Manito/Manito/Global/Supports/Manito.entitlements
  Manito/Manito/Network/EndPoint/LoginEndPoint.swift
  Manito/Manito/Network/Models/Request/LoginDTO.swift
  Manito/Manito/Network/Storage/UserDefaultHandler.swift
  Manito/Manito/Network/Storage/UserDefaultStorage.swift
  Manito/Manito/Screens/Login/LoginViewController.swift
  Manito/Manito/Screens/Setting/SettingViewController.swift
  Manito/Manito/Screens/Splash/SplashViewController.swift
Labels: 👾 케미, ✨ Feature
