Repository DeveloperAcademy-POSTECH/MC2-Team5-Firefighter, pull requests merged in 2022-08, with the labels that each got.

#100 [FEAT] 대기중View 시작 날짜 지나면 날짜 수정 유도 modal 표시
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Extension/Date+Extension.swift
  Manito/Manito/Global/Extension/Notification+Extension.swift
  Manito/Manito/Global/Extension/String+Extension.swift
  Manito/Manito/Screens/Detail-Wait/DetailEditViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/CalendarView.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/DetailWaitTitleView.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Screens/Setting/ImageRowView.swift
  Manito/Manito/Screens/Setting/SettingViewController.swift
Labels: 🖍 Design, ▪️ Detail-wait, 👾 케미

#107 [CHORE] DetailView Padding 수정
  Manito/Manito/Global/UIComponent/MainButton.swift
  Manito/Manito/Screens/Detail-Wait/DetailEditViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
Labels: 🖍 Design, ▪️ Detail-wait, 👾 케미

#118 [FEAT] DetailEditView 모달 내릴때 alert 표시
  Manito/Manito/Screens/Detail-Wait/DetailEditViewController.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/CalendarView.swift
Labels: ▪️ Detail-wait, 👾 케미

#113 [CHORE] 왼쪽으로 쓸어서 dismiss기능
  Manito/Manito/Global/Base/BaseViewController.swift
Labels: 🖍 Design, 👾 케미

#114 [ADD] API작업을 위한 BaseCode와 EndPoint 생성
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Extension/Encodable+Extension.swift
  Manito/Manito/Network/EndPoint/DetailDoneEndPoint.swift
  Manito/Manito/Network/EndPoint/DetailIngEndPoint.swift
  Manito/Manito/Network/EndPoint/DetailWaitEndPoint.swift
  Manito/Manito/Network/EndPoint/InteractionEndPoint.swift
  Manito/Manito/Network/EndPoint/LetterEndPoint.swift
  Manito/Manito/Network/EndPoint/MainEndPoint.swift
  Manito/Manito/Network/EndPoint/RoomEndPoint.swift
  Manito/Manito/Network/EndPoint/SettingEndPoint.swift
  Manito/Manito/Network/Models/DailyMission.swift
  Manito/Manito/Network/Models/Request/LetterDTO.swift
  Manito/Manito/Network/Models/Request/RoomDTO.swift
  Manito/Manito/Network/Models/Room.swift
  Manito/Manito/Network/Models/User.swift
  Manito/Manito/Network/Service/APIEnvironment.swift
  Manito/Manito/Network/Service/APIService.swift
  Manito/Manito/Network/Service/Endpointable.swift
  Manito/Manito/Network/Service/HTTPMethod.swift
  Manito/Manito/Network/Service/NetworkError.swift
  Manito/Manito/Network/Service/NetworkRequest.swift
Labels: 📬 API, 👾 케미

#123 [CHORE] 함께하는 친구들로 명칭 통일
  Manito/Manito/Global/Resource/Storyboards/DetailIng.storyboard
Labels: 🖍 Design, ▪️ Detail-ing, 👾 케미

#121 [FEAT] DetailEditView 모달 기능 추가 완료
  Manito/Manito/Screens/Detail-Wait/DetailEditViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/CalendarView.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/DetailWaitTitleView.swift
Labels: ▪️ Detail-wait, 👾 케미

#125 [CHORE] 마니또 시작 후 대기방으로 돌아가는 flow 수정
  Manito/Manito/Screens/Interaction/SelectManittoViewController.swift
Labels: ▪️ Detail-wait, 👾 케미

#128 [FEAT] 세팅뷰 UI 구현
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Screens/Setting/Cell/SettingViewTableCell.swift
  Manito/Manito/Screens/Setting/Component/ImageRowView.swift
  Manito/Manito/Screens/Setting/SettingViewController.swift
Labels: ⚙️ Setting, 👾 호야

#129 [FEAT] 마니띠 누르면 애니메이션 동작 추가
  Manito/Manito/Global/Resource/Storyboards/DetailIng.storyboard
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
Labels: ▪️ Detail-ing

#111 [CHORE] 메인 화면 스타일 변경 (RE)
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Literal/ImageLiteral.swift
  Manito/Manito/Global/Resource/GIFs/gifMa.gif
  Manito/Manito/Global/Resource/GIFs/gifNi.gif
  Manito/Manito/Global/Resource/GIFs/gifTto.gif
  Manito/Manito/Global/Resource/Storyboards/Base.lproj/Main.storyboard
  Manito/Manito/Screens/Main/Cell/CreateRoomCollectionViewCell.swift
  Manito/Manito/Screens/Main/Cell/ManitoRoomCollectionCell.swift
  Manito/Manito/Screens/Main/MainViewController.swift
Labels: 🖍 Design, ▪️ Main, 👾 코비

#131 [FEAT] 버튼 활성화 비활성화 기능 구현
  Manito/Manito/Screens/CreateRoom/Component/InputNameView.swift
  Manito/Manito/Screens/CreateRoom/CreateRoomViewController.swift
Labels: 🐞 Bugfix, ▪️ Create Room

#133 [FEAT] 날짜 변경에 따라 마니또 시작버튼 상태 변경
  Manito/Manito/Global/Extension/Notification+Extension.swift
  Manito/Manito/Screens/Detail-Wait/DetailEditViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
Labels: ▪️ Detail-wait, 👾 케미

#134 [FEAT] 시작날짜 지났을 때 방 정보 변경시 default 날짜 추가
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
Labels: ▪️ Detail-wait, 👾 케미

#150 [FEAT] 방 생성뷰 캘린더 기능 추가
  Manito/Manito/Screens/CreateRoom/Component/CheckRoomView.swift
  Manito/Manito/Screens/CreateRoom/Component/InputDateView.swift
  Manito/Manito/Screens/CreateRoom/CreateRoomViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailEditViewController.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/CalendarView.swift
Labels: ▪️ Create Room, 👾 케미

#151 [FEAT] Letter View Spacing 변경 및 dynamic height 오류 해결
  Manito/Manito/Screens/Letter/Cell/LetterCollectionViewCell.swift
  Manito/Manito/Screens/Letter/CreateLetterViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
  Manito/Manito/Screens/Letter/UIComponent/LetterHeaderView.swift
  Manito/Manito/Screens/Main/MainViewController.swift
Labels: 🐞 Bugfix, 🖍 Design, ▪️ Letter, 👾 듀나

#138 [FEAT] 캐릭터 선택 뷰 추가, 팝업 에러 해결
  Manito/Manito/Global/Extension/Notification+Extension.swift
  Manito/Manito/Screens/CheckRoom/CheckRoomViewController.swift
  Manito/Manito/Screens/ChooseCharacter/ChooseCharacterViewController.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Screens/ParticipateRoom/ParticipateRoomViewController.swift
  Manito/Manito/Screens/ParticipateRoom/UIComponent/InputInvitedCodeView.swift
Labels: 🖍 Design, ▪️ Main, ▪️ Invite Room, 🔨 Refactor, 👾 코비, ▪️ ParticipateRoom, ▪️ Character-choose

#153 [ADD] 가이드 팝업 뷰 생성
  Manito/Manito/Global/Base/BaseViewController.swift
  Manito/Manito/Global/Extension/UILabel+Extension.swift
  Manito/Manito/Global/Extension/UIViewController+Extension.swift
  Manito/Manito/Global/Literal/ImageLiteral.swift
  Manito/Manito/Global/Resource/Assets.xcassets/img_guideBox.imageset/Contents.json
  Manito/Manito/Global/Resource/Assets.xcassets/img_guideBox.imageset/img_guideBox.png
  Manito/Manito/Global/Resource/Assets.xcassets/img_guideBox.imageset/img_guideBox@2x.png
  Manito/Manito/Global/Resource/Assets.xcassets/img_guideBox.imageset/img_guideBox@3x.png
  Manito/Manito/Screens/CreateNickName/CreateNickNameViewController.swift
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
  Manito/Manito/Screens/Main/MainViewController.swift
Labels: 🖍 Design, ▪️ Detail-ing, ▪️ Main, ▪️ Letter, 👾 듀나

#145 [BUGFIX] 방생성에서 있던 2가지 버그 수정
  Manito/Manito/Global/Extension/Notification+Extension.swift
  Manito/Manito/Screens/CreateRoom/CreateRoomViewController.swift
Labels: 🐞 Bugfix

#147 [FEAT] 최대 인원 Slider반영, 현재 인원보다적게 설정할 때 alert표시
  Manito/Manito/Global/Extension/Notification+Extension.swift
  Manito/Manito/Screens/Detail-Wait/DetailEditViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/CalendarView.swift
Labels: ▪️ Detail-wait, 👾 케미

#157 [FEAT] pushViewController 에서 모달로 바꾸고 dismiss 구현
  Manito/Manito/Global/Extension/Notification+Extension.swift
  Manito/Manito/Screens/CreateRoom/CreateRoomViewController.swift
  Manito/Manito/Screens/Main/MainViewController.swift
Labels: ▪️ Create Room

#159 [CHORE] 캘린더 버그 픽스 -> 전체적인 코드 수정
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/CalendarView.swift
  Manito/Manito/Screens/Interaction/OpenManittoPopupViewController.swift
  Manito/Manito/Screens/Interaction/SelectManittoViewController.swift
  Manito/Manito/Screens/InvitedCode/InvitedCodeViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Screens/Setting/Component/ImageRowView.swift
  Manito/Manito/Screens/SettingDeveloperInfo/SettingDeveloperInfoViewController.swift
Labels: ▪️ Detail-wait, ▪️ Detail-ing, 👾 케미, ▪️ Manitto Interaction

#162 [FEAT] 캘린더 달 이동 버튼 도트 이미지로 변경
  Manito/Manito/Global/Literal/ImageLiteral.swift
  Manito/Manito/Global/Resource/Assets.xcassets/ic_right.imageset/Contents.json
  Manito/Manito/Global/Resource/Assets.xcassets/ic_right.imageset/ic_right.png
  Manito/Manito/Global/Resource/Assets.xcassets/ic_right.imageset/ic_right@2x.png
  Manito/Manito/Global/Resource/Assets.xcassets/ic_right.imageset/ic_right@3x.png
  Manito/Manito/Screens/Detail-Wait/UIComponent/CalendarView.swift
Labels: 🖍 Design, ▪️ Detail-ing, 👾 케미

#164 [FEAT] DetailWaitView API 연결
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Network/API/DetailWaitAPI.swift
  Manito/Manito/Network/EndPoint/DetailWaitEndPoint.swift
  Manito/Manito/Network/Models/FriendList.swift
  Manito/Manito/Network/Models/Room.swift
  Manito/Manito/Network/Protocol/DetailWaitProtocol.swift
  Manito/Manito/Network/Service/APIEnvironment.swift
  Manito/Manito/Network/Service/APIService.swift
  Manito/Manito/Network/Service/NetworkRequest.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
Labels: 📬 API, ▪️ Detail-wait, 👾 케미

#172 [CHORE] 쪽지 뷰 헤더 영역 텍스트를 변경
  Manito/Manito/Screens/Letter/LetterViewController.swift
  Manito/Manito/Screens/Letter/UIComponent/LetterHeaderView.swift
Labels: ▪️ Letter, 👾 듀나
