Repository DeveloperAcademy-POSTECH/MC2-Team5-Firefighter, pull requests merged in 2022-09, with the labels that each got.

#166 [CHORE] 오늘의 공통미션 글자 크기 변경
  Manito/Manito/Screens/Main/UIComponent/CommonMissonView.swift
Labels: 🖍 Design, ▪️ Main, 👾 케미

#171 [FEAT] 마니또 진행 화면, 이미지 추가
  Manito/Manito/Global/Resource/Storyboards/DetailIng.storyboard
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
Labels: 🖍 Design, ▪️ Detail-ing, 👾 코비

#173 [FEAT] checkRoom에 데이터 넘기기
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Extension/UIButton+Extension.swift
  Manito/Manito/Global/UIComponent/MainButton.swift
  Manito/Manito/Screens/CreateRoom/Component/CheckRoomView.swift
  Manito/Manito/Screens/CreateRoom/CreateRoomViewController.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/CalendarView.swift
  Manito/Manito/Screens/Main/MainViewController.swift
Labels: ▪️ Create Room

#175 [FEAT] 신고하기 기능 구현
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Screens/Letter/Cell/LetterCollectionViewCell.swift
  Manito/Manito/Screens/Letter/LetterViewController+MailCompose.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
Labels: ▪️ Letter, 👾 듀나

#177 [FEAT] 끝난 방이라면 쪽지 전송 뷰로 이동하지 못하도록 구현 완료
  Manito/Manito/Global/Resource/Storyboards/Letter.storyboard
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
Labels: ▪️ Letter, 👾 듀나

#179 [FIX] 함께하는 친구들 뷰에서 생기는 레이아웃 오류 해결
  Manito/Manito/Global/Resource/Storyboards/DetailIng.storyboard
Labels: 🐞 Bugfix, ▪️ Detail-ing, 👾 듀나

#191 [FEAT] Text Literal 작업 입니다
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Literal/TextLiteral.swift
  Manito/Manito/Screens/CheckRoom/CheckRoomViewController.swift
  Manito/Manito/Screens/ChooseCharacter/ChooseCharacterViewController.swift
  Manito/Manito/Screens/CreateNickName/CreateNickNameViewController.swift
  Manito/Manito/Screens/CreateRoom/Component/CheckRoomView.swift
  Manito/Manito/Screens/CreateRoom/Component/InputDateView.swift
  Manito/Manito/Screens/CreateRoom/Component/InputNameView.swift
  Manito/Manito/Screens/CreateRoom/Component/InputPersonView.swift
  Manito/Manito/Screens/CreateRoom/CreateRoomViewController.swift
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailEditViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/CalendarView.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/DetailWaitTitleView.swift
  Manito/Manito/Screens/Interaction/OpenManittoPopupViewController.swift
  Manito/Manito/Screens/Interaction/OpenManittoViewController.swift
  Manito/Manito/Screens/Interaction/SelectManittoViewController.swift
  Manito/Manito/Screens/Letter/CreateLetterViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
  Manito/Manito/Screens/Letter/UIComponent/IndividualMissionView.swift
  Manito/Manito/Screens/Letter/UIComponent/LetterHeaderView.swift
  Manito/Manito/Screens/Letter/UIComponent/LetterPhotoView.swift
  Manito/Manito/Screens/Letter/UIComponent/LetterTextView.swift
  Manito/Manito/Screens/Letter/UIComponent/SendLetterView.swift
  Manito/Manito/Screens/Main/Cell/CreateRoomCollectionViewCell.swift
  Manito/Manito/Screens/Main/Cell/ManitoRoomCollectionCell.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Screens/Main/UIComponent/CommonMissonView.swift
  Manito/Manito/Screens/Main/UIComponent/RoomStateView.swift
  Manito/Manito/Screens/ParticipateRoom/ParticipateRoomViewController.swift
  Manito/Manito/Screens/ParticipateRoom/UIComponent/InputInvitedCodeView.swift
  Manito/Manito/Screens/Setting/SettingViewController.swift
  Manito/Manito/Screens/SettingDeveloperInfo/SettingDeveloperInfoViewController.swift
Labels: ▪️ Detail-wait, ▪️ Detail-ing, ▪️ Main, ▪️ Nickname, ▪️ Create Room, ▪️ Invite Room, ▪️ Letter, 👾 호야, ▪️ Splash, ▪️ Manitto Interaction, ▪️ ParticipateRoom, ▪️ Settings, ▪️ Login, ▪️ Character-choose

#182 [FEAT] MainView API 연결
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Network/API/MainAPI.swift
  Manito/Manito/Network/EndPoint/MainEndPoint.swift
  Manito/Manito/Network/Models/Room.swift
  Manito/Manito/Network/Protocol/MainProtocol.swift
  Manito/Manito/Network/Service/APIEnvironment.swift
  Manito/Manito/Screens/Main/MainViewController.swift
Labels: 📬 API, ▪️ Main, 👾 코비

#183 [FEAT] DetailWaitView API데이터 View에 반영
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Extension/Notification+Extension.swift
  Manito/Manito/Network/API/DetailWaitAPI.swift
  Manito/Manito/Network/EndPoint/DetailWaitEndPoint.swift
  Manito/Manito/Network/Models/Room.swift
  Manito/Manito/Network/Models/User.swift
  Manito/Manito/Network/Protocol/DetailWaitProtocol.swift
  Manito/Manito/Network/Service/APIService.swift
  Manito/Manito/Screens/Detail-Wait/DetailEditViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/DetailWaitTitleView.swift
  Manito/Manito/Screens/Main/MainViewController.swift
Labels: 📬 API, ▪️ Detail-wait, 👾 케미

#192 [FEAT] 방 참가하기 플로우에서 뷰 디자인 수정
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Literal/Character.swift
  Manito/Manito/Global/Literal/ImageLiteral.swift
  Manito/Manito/Global/Resource/Assets.xcassets/imgCharacterBlue.imageset/Contents.json
  Manito/Manito/Global/Resource/Assets.xcassets/imgCharacterBlue.imageset/imgCharacterBlue.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgCharacterBrown.imageset/Contents.json
  Manito/Manito/Global/Resource/Assets.xcassets/imgCharacterBrown.imageset/imgCharacterBrown.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgCharacterHeavyPink.imageset/Contents.json
  Manito/Manito/Global/Resource/Assets.xcassets/imgCharacterHeavyPink.imageset/imgCharacterHeavyPink.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgCharacterLightGreen.imageset/Contents.json
  Manito/Manito/Global/Resource/Assets.xcassets/imgCharacterLightGreen.imageset/imgCharacterLightGreen.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgCharacterOrange.imageset/Contents.json
  Manito/Manito/Global/Resource/Assets.xcassets/imgCharacterOrange.imageset/imgCharacterOrange.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgCharacterPink.imageset/Contents.json
  Manito/Manito/Global/Resource/Assets.xcassets/imgCharacterPink.imageset/imgCharacterPink.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgCharacterPurple.imageset/Contents.json
  Manito/Manito/Global/Resource/Assets.xcassets/imgCharacterPurple.imageset/imgCharacterPurple.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgCharacterRed.imageset/Contents.json
  Manito/Manito/Global/Resource/Assets.xcassets/imgCharacterRed.imageset/imgCharacterRed.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgCharacterYellow.imageset/Contents.json
  Manito/Manito/Global/Resource/Assets.xcassets/imgCharacterYellow.imageset/imgCharacterYellow.png
  Manito/Manito/Screens/ChooseCharacter/ChooseCharacterViewController.swift
  Manito/Manito/Screens/ChooseCharacter/UIComponent/CharacterCollectionViewCell.swift
  Manito/Manito/Screens/ParticipateRoom/ParticipateRoomViewController.swift
  Manito/Manito/Screens/ParticipateRoom/UIComponent/InputInvitedCodeView.swift
Labels: 🖍 Design, ▪️ Invite Room, 👾 코비, ▪️ Character-choose

#188 [FEAT] 메인 뷰와 데이터 연결하기
  Manito/Manito/Network/API/MainAPI.swift
  Manito/Manito/Network/Protocol/MainProtocol.swift
  Manito/Manito/Screens/Main/Cell/CreateRoomCollectionViewCell.swift
  Manito/Manito/Screens/Main/Cell/ManitoRoomCollectionCell.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Screens/Main/UIComponent/CommonMissonView.swift
  Manito/Manito/Screens/Main/UIComponent/RoomStateView.swift
Labels: 📬 API, 🖍 Design, ▪️ Main, 👾 코비, ✨ Feature

#184 [FEAT] 마니또가 보낸, 마니띠에게 보낸 쪽지 API 연결
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Network/API/LetterAPI.swift
  Manito/Manito/Network/EndPoint/LetterEndPoint.swift
  Manito/Manito/Network/Models/Letter.swift
  Manito/Manito/Network/Protocol/LetterProtocol.swift
  Manito/Manito/Network/Service/APIService.swift
  Manito/Manito/Network/Service/Requestable.swift
  Manito/Manito/Screens/Letter/Cell/LetterCollectionViewCell.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
Labels: 📬 API, ▪️ Letter, 👾 듀나

#195 [FEAT] 진행중, 완료 뷰 API 적용 완료
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Extension/String+Extension.swift
  Manito/Manito/Global/Resource/Storyboards/DetailIng.storyboard
  Manito/Manito/Network/API/DetailDoneAPI.swift
  Manito/Manito/Network/API/DetailStartingAPI.swift
  Manito/Manito/Network/EndPoint/DetailDoneEndPoint.swift
  Manito/Manito/Network/EndPoint/DetailIngEndPoint.swift
  Manito/Manito/Network/Models/Memory.swift
  Manito/Manito/Network/Models/Room.swift
  Manito/Manito/Network/Protocol/DetailDoneProtocol.swift
  Manito/Manito/Network/Protocol/DetailStartingProtocol.swift
  Manito/Manito/Screens/Detail-Ing/Cell/FriendCollectionViewCell.swift
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Detail-Ing/FriendListViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Main/MainViewController.swift
Labels: 📬 API, 🖍 Design, ▪️ Detail-wait, 👾 케미

#198 [CHORE] MainView에서 대기방 뷰 연결, 진행중 완료 상태 Label추가
  Manito/Manito/Global/Resource/Storyboards/DetailIng.storyboard
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/DetailWaitTitleView.swift
  Manito/Manito/Screens/Main/MainViewController.swift
Labels: 🖍 Design, ▪️ Detail-ing, ▪️ Main, 👾 케미

#200 [FEAT] 마니또 시작가능 조건 적용, 최대 인원 API반영
  Manito/Manito/Network/Models/Room.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
Labels: ▪️ Detail-ing, 👾 케미, ✨ Feature

#203 [FEAT] 방 생성 api 연결
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Network/API/RoomAPI.swift
  Manito/Manito/Network/EndPoint/RoomEndPoint.swift
  Manito/Manito/Network/Models/VerificationCode.swift
  Manito/Manito/Network/Protocol/RoomProtocol.swift
  Manito/Manito/Screens/ChooseCharacter/ChooseCharacterViewController.swift
  Manito/Manito/Screens/CreateRoom/Component/InputPersonView.swift
  Manito/Manito/Screens/CreateRoom/CreateRoomViewController.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Screens/ParticipateRoom/ParticipateRoomViewController.swift
Labels: ▪️ Create Room, ▪️ Character-choose

#210 [FEAT] 방 나가기 기능 추가
  Manito/Manito/Network/API/DetailWaitAPI.swift
  Manito/Manito/Network/EndPoint/DetailWaitEndPoint.swift
  Manito/Manito/Network/Protocol/DetailWaitProtocol.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
Labels: 📬 API, ▪️ Detail-wait, 👾 케미

#208 [FEAT] 쪽지 생성 API 연결
  Manito/Manito/Network/API/LetterAPI.swift
  Manito/Manito/Network/EndPoint/LetterEndPoint.swift
  Manito/Manito/Network/Models/Request/LetterDTO.swift
  Manito/Manito/Network/Protocol/LetterProtocol.swift
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Letter/CreateLetterViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
Labels: 📬 API, ▪️ Letter, 👾 듀나

#213 [FEAT] 닉네임 변경하기 유저디폴트 관리, 서버에 보내기
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Extension/UserDefault+Extension.swift
  Manito/Manito/Global/Literal/TextLiteral.swift
  Manito/Manito/Network/API/SettingAPI.swift
  Manito/Manito/Network/EndPoint/SettingEndPoint.swift
  Manito/Manito/Network/Models/NicknameDTO.swift
  Manito/Manito/Network/Protocol/SettingProtocol.swift
  Manito/Manito/Screens/CreateNickName/CreateNickNameViewController.swift
  Manito/Manito/Screens/Setting/ChangeNickNameViewController.swift
Labels: ▪️ Settings

#205 [FEAT] MainView 코드 위치 정리
  Manito/Manito/Screens/Main/MainViewController.swift
Labels: ▪️ Main, 👾 케미, ✨ Feature

#220 [FEAT] 방 삭제시 딜레이 추가
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
Labels: ▪️ Detail-wait, 👾 케미

#222 [FEAT] 레이아웃 깨지는거 수정
  Manito/Manito/Global/Resource/Storyboards/DetailIng.storyboard
Labels: ▪️ Detail-wait, ▪️ Detail-ing, 👾 호야

#214 [FEAT] Letter UI 구현 완료
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Extension/Date+Extension.swift
  Manito/Manito/Global/Resource/Storyboards/Letter.storyboard
  Manito/Manito/Global/Utils/ImageCacheManager.swift
  Manito/Manito/Global/Utils/UIImageView+Cache.swift
  Manito/Manito/Network/API/LetterAPI.swift
  Manito/Manito/Network/EndPoint/LetterEndPoint.swift
  Manito/Manito/Network/Models/Letter.swift
  Manito/Manito/Network/Service/APIEnvironment.swift
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Letter/Cell/LetterCollectionViewCell.swift
  Manito/Manito/Screens/Letter/CreateLetterViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
  Manito/Manito/Screens/Letter/UIComponent/IndividualMissionView.swift
  Manito/Manito/Screens/Letter/UIComponent/LetterPhotoView.swift
  Manito/Manito/Screens/Main/MainViewController.swift
Labels: 📬 API, 🖍 Design, ▪️ Letter, 👾 듀나

#218 [FIX] 완료상태 방 데이터 조회 문제 해결
  Manito/Manito/Global/Literal/TextLiteral.swift
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
Labels: ▪️ Detail-ing, 👾 케미

#221 [FEAT] 초대뷰 UI구현
  Manito/Manito/Global/Extension/Notification+Extension.swift
  Manito/Manito/Global/Extension/UIColor+Extension.swift
  Manito/Manito/Global/Literal/TextLiteral.swift
  Manito/Manito/Global/Resource/Storyboards/DetailIng.storyboard
  Manito/Manito/Global/Resource/Storyboards/InvitedCode.storyboard
  Manito/Manito/Screens/ChooseCharacter/ChooseCharacterViewController.swift
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/InvitedCode/InvitedCodeViewController.swift
Labels: ▪️ Invite Room, 👾 호야

#224 [FEAT] 초대하기 기능 구현
  Manito/Manito/Global/Literal/TextLiteral.swift
  Manito/Manito/Screens/ChooseCharacter/ChooseCharacterViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/InvitedCode/InvitedCodeViewController.swift
Labels: ▪️ Invite Room, 👾 호야

#225 [FEAT] 사진 Compress 코드 추가
  Manito/Manito/Global/Literal/TextLiteral.swift
  Manito/Manito/Network/EndPoint/LetterEndPoint.swift
  Manito/Manito/Network/Service/APIEnvironment.swift
  Manito/Manito/Screens/Letter/CreateLetterViewController.swift
  Manito/Manito/Screens/Letter/UIComponent/LetterPhotoView.swift
Labels: ▪️ Letter, 👾 듀나

#230 [CHORE] MainRed색상 수정
  Manito/Manito/Global/Extension/UIColor+Extension.swift
Labels: 🖍 Design, 👾 케미

#231 [FEAT] Auto Correction를 no로 설정
  Manito/Manito/Screens/CreateNickName/CreateNickNameViewController.swift
  Manito/Manito/Screens/CreateRoom/Component/InputNameView.swift
  Manito/Manito/Screens/Letter/UIComponent/LetterTextView.swift
  Manito/Manito/Screens/ParticipateRoom/UIComponent/InputInvitedCodeView.swift
  Manito/Manito/Screens/Setting/ChangeNickNameViewController.swift
Labels: 🖍 Design, 👾 듀나

#233 [FIX] TextField 최대 카운트 이후로 생기는 문제 해결
  Manito/Manito/Screens/CreateNickName/CreateNickNameViewController.swift
  Manito/Manito/Screens/CreateRoom/Component/InputNameView.swift
  Manito/Manito/Screens/ParticipateRoom/UIComponent/InputInvitedCodeView.swift
  Manito/Manito/Screens/Setting/ChangeNickNameViewController.swift
Labels: 🐞 Bugfix, ▪️ Nickname, ▪️ Create Room, ▪️ Invite Room, 👾 듀나

#236 [CHORE] 버튼 높이가 달랐던거 수정
  Manito/Manito/Screens/CreateRoom/CreateRoomViewController.swift
Labels: ▪️ Create Room, 👾 호야, ▪️ Character-choose

#238 [CHORE] 텍스트필드 위치 조정
  Manito/Manito/Screens/CreateNickName/CreateNickNameViewController.swift
  Manito/Manito/Screens/CreateRoom/Component/InputNameView.swift
  Manito/Manito/Screens/ParticipateRoom/UIComponent/InputInvitedCodeView.swift
  Manito/Manito/Screens/Setting/ChangeNickNameViewController.swift
Labels: ▪️ Nickname, 👾 호야

#244 [REFACTOR] 안쓰는 스토리보드 삭제 및 SceneDelegate에 진입점 생성
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Resource/Storyboards/CheckRoom.storyboard
  Manito/Manito/Global/Resource/Storyboards/ChooseCharacter.storyboard
  Manito/Manito/Global/Resource/Storyboards/CreateRoom.storyboard
  Manito/Manito/Global/Resource/Storyboards/DetailWait.storyboard
  Manito/Manito/Global/Resource/Storyboards/Interaction.storyboard
  Manito/Manito/Global/Resource/Storyboards/InvitedCode.storyboard
  Manito/Manito/Global/Resource/Storyboards/ParticipateRoom.storyboard
  Manito/Manito/Global/Resource/Storyboards/SettingDeveloperInfo.storyboard
  Manito/Manito/Global/Resource/Storyboards/Splash.storyboard
  Manito/Manito/Global/Supports/Info.plist
  Manito/Manito/Global/Supports/SceneDelegate.swift
  Manito/Manito/Screens/ChooseCharacter/ChooseCharacterViewController.swift
  Manito/Manito/Screens/CreateRoom/CreateRoomViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
Labels: 🔨 Refactor, 👾 듀나

#239 [FEAT] 마니또 공개버튼 종료일 9시이후 활성화되게 추가
  Manito/Manito/Global/Extension/Date+Extension.swift
  Manito/Manito/Global/Extension/String+Extension.swift
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
Labels: ▪️ Detail-ing, 👾 케미, ✨ Feature

#242 [CHORE] APIEnviroment 코드 수정
  Manito/Manito/Global/Literal/UrlLiteral.swift
  Manito/Manito/Network/API/DetailDoneAPI.swift
  Manito/Manito/Network/API/DetailStartingAPI.swift
  Manito/Manito/Network/API/DetailWaitAPI.swift
  Manito/Manito/Network/API/LetterAPI.swift
  Manito/Manito/Network/API/MainAPI.swift
  Manito/Manito/Network/API/RoomAPI.swift
  Manito/Manito/Network/API/SettingAPI.swift
  Manito/Manito/Network/EndPoint/DetailDoneEndPoint.swift
  Manito/Manito/Network/EndPoint/DetailIngEndPoint.swift
  Manito/Manito/Network/EndPoint/DetailWaitEndPoint.swift
  Manito/Manito/Network/EndPoint/LetterEndPoint.swift
  Manito/Manito/Network/EndPoint/MainEndPoint.swift
  Manito/Manito/Network/EndPoint/RoomEndPoint.swift
  Manito/Manito/Network/EndPoint/SettingEndPoint.swift
  Manito/Manito/Network/Service/APIEnvironment.swift
  Manito/Manito/Network/Service/NetworkRequest.swift
  Manito/Manito/Screens/CheckRoom/CheckRoomViewController.swift
  Manito/Manito/Screens/ChooseCharacter/ChooseCharacterViewController.swift
  Manito/Manito/Screens/CreateNickName/CreateNickNameViewController.swift
  Manito/Manito/Screens/CreateRoom/CreateRoomViewController.swift
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Detail-Ing/FriendListViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Letter/CreateLetterViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Screens/Setting/ChangeNickNameViewController.swift
Labels: 📬 API, 👾 듀나

#168 [FEAT] Apple Login 기능 추가
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Supports/AppDelegate.swift
  Manito/Manito/Manito.entitlements
  Manito/Manito/Network/API/LoginAPI.swift
  Manito/Manito/Network/EndPoint/LoginEndPoint.swift
  Manito/Manito/Network/Models/Login.swift
  Manito/Manito/Network/Models/RefreshToken.swift
  Manito/Manito/Network/Models/Request/LoginDTO.swift
  Manito/Manito/Network/Protocol/LoginProtocol.swift
  Manito/Manito/Network/Service/APIEnvironment.swift
  Manito/Manito/Network/Storage/UserDefaultHandler.swift
  Manito/Manito/Network/Storage/UserDefaultStorage.swift
  Manito/Manito/Screens/CreateNickName/CreateNickNameViewController.swift
  Manito/Manito/Screens/Login/LoginViewController.swift
  Manito/Manito/Screens/Setting/SettingViewController.swift
  Manito/Manito/Screens/Splash/SplashViewController.swift
Labels: 👾 케미, ▪️ Login, ✨ Feature

#252 [FEAT] 방 참가 이후 navigation push 추가
  Manito/Manito/Screens/ChooseCharacter/ChooseCharacterViewController.swift
Labels: 👾 케미, ▪️ ParticipateRoom

#250 [FEAT] Header Code에 있는 값들을 return할 수 있도록 request 구현
  Manito/Manito/Network/API/LetterAPI.swift
  Manito/Manito/Network/API/RoomAPI.swift
  Manito/Manito/Network/Protocol/LetterProtocol.swift
  Manito/Manito/Network/Protocol/RoomProtocol.swift
  Manito/Manito/Network/Service/APIService.swift
  Manito/Manito/Network/Service/Requestable.swift
  Manito/Manito/Screens/ChooseCharacter/ChooseCharacterViewController.swift
  Manito/Manito/Screens/Letter/CreateLetterViewController.swift
Labels: 📬 API, ▪️ Create Room, ▪️ Letter, 👾 듀나

#248 [FEAT] 룰렛 확인에 따라 분기 처리 완료
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Interaction/SelectManittoViewController.swift
Labels: ▪️ Detail-ing, 👾 케미, ✨ Feature

#260 [FEAT] i수정, 레버 수정
  Manito/Manito/Global/Literal/TextLiteral.swift
  Manito/Manito/Global/Resource/Storyboards/Interaction.storyboard
Labels: ▪️ Detail-ing, ▪️ Main, 👾 호야

#256 [CHORE] 마니또 공개 버튼 isHidden
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
Labels: ▪️ Detail-ing, 👾 케미

#263 [FEAT] 마니띠 공개 애니메이션 API적용
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Interaction/SelectManittoViewController.swift
Labels: 👾 케미, ▪️ Manitto Interaction

#264 [FEAT] 로그아웃 구현
  Manito/Manito/Global/Base/BaseViewController.swift
  Manito/Manito/Global/Supports/SceneDelegate.swift
  Manito/Manito/Screens/CheckRoom/CheckRoomViewController.swift
  Manito/Manito/Screens/ChooseCharacter/ChooseCharacterViewController.swift
  Manito/Manito/Screens/CreateNickName/CreateNickNameViewController.swift
  Manito/Manito/Screens/CreateRoom/CreateRoomViewController.swift
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Detail-Ing/FriendListViewController.swift
  Manito/Manito/Screens/Detail-Ing/MemoryViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailEditViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/InvitedCode/InvitedCodeViewController.swift
  Manito/Manito/Screens/Letter/CreateLetterViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Screens/ParticipateRoom/ParticipateRoomViewController.swift
  Manito/Manito/Screens/Setting/ChangeNickNameViewController.swift
  Manito/Manito/Screens/Setting/SettingViewController.swift
Labels: 📬 API, 👾 듀나

#266 [HOTFIX] QA중 나온 에러 처리
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Extension/UserDefault+Extension.swift
  Manito/Manito/Global/Literal/TextLiteral.swift
  Manito/Manito/Global/Literal/UrlLiteral.swift
  Manito/Manito/Global/Resource/Storyboards/DetailIng.storyboard
  Manito/Manito/Global/Supports/Manito.entitlements
  Manito/Manito/Network/Service/APIEnvironment.swift
  Manito/Manito/Network/Storage/UserDefaultStorage.swift
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Interaction/OpenManittoPopupViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Screens/Setting/ChangeNickNameViewController.swift
  Manito/Manito/Screens/Setting/SettingViewController.swift
  Manito/Manito/Screens/SettingDeveloperInfo/SettingDeveloperInfoViewController.swift
Labels: ▪️ Detail-wait, ▪️ Detail-ing, 👾 케미

#270 [CHORE] 방장이 아니어도 마니또 시작 버튼이 눌리던 버그 해결
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
Labels: ▪️ Detail-wait, 👾 케미

#273 [FEAT] 방 참여 flow 개편
  Manito/Manito/Global/Literal/TextLiteral.swift
  Manito/Manito/Network/API/RoomAPI.swift
  Manito/Manito/Network/Protocol/RoomProtocol.swift
  Manito/Manito/Screens/CheckRoom/CheckRoomViewController.swift
  Manito/Manito/Screens/CheckRoom/UIComponent/RoomInfoView.swift
  Manito/Manito/Screens/ChooseCharacter/ChooseCharacterViewController.swift
  Manito/Manito/Screens/ParticipateRoom/ParticipateRoomViewController.swift
Labels: ▪️ Invite Room, 👾 케미

#275 [CHORE] 마니띠 공개시 정보 오류 수정
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Interaction/SelectManittoViewController.swift
Labels: ▪️ Detail-ing, 👾 케미

#271 [FIX] 공통 미션 토큰 문제 해결 + 재발급 코드 삭제
  Manito/Manito/Global/Base/BaseViewController.swift
  Manito/Manito/Network/EndPoint/DetailWaitEndPoint.swift
  Manito/Manito/Network/EndPoint/LetterEndPoint.swift
  Manito/Manito/Network/EndPoint/MainEndPoint.swift
  Manito/Manito/Network/EndPoint/RoomEndPoint.swift
  Manito/Manito/Network/EndPoint/SettingEndPoint.swift
  Manito/Manito/Network/Service/APIEnvironment.swift
  Manito/Manito/Network/Service/NetworkRequest.swift
  Manito/Manito/Screens/CheckRoom/CheckRoomViewController.swift
  Manito/Manito/Screens/ChooseCharacter/ChooseCharacterViewController.swift
  Manito/Manito/Screens/CreateNickName/CreateNickNameViewController.swift
  Manito/Manito/Screens/CreateRoom/CreateRoomViewController.swift
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Detail-Ing/FriendListViewController.swift
  Manito/Manito/Screens/Detail-Ing/MemoryViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailEditViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/InvitedCode/InvitedCodeViewController.swift
  Manito/Manito/Screens/Letter/CreateLetterViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
  Manito/Manito/Screens/Login/LoginViewController.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Screens/ParticipateRoom/ParticipateRoomViewController.swift
  Manito/Manito/Screens/Setting/ChangeNickNameViewController.swift
  Manito/Manito/Screens/Setting/SettingViewController.swift
Labels: 🐞 Bugfix, ▪️ Main, 👾 듀나

#282 [HOTFIX] 메모리 관리 및 back button interactive Pop Gesture
  Manito/Manito/Global/Base/BaseViewController.swift
  Manito/Manito/Global/Resource/Storyboards/Base.lproj/Main.storyboard
  Manito/Manito/Screens/CheckRoom/CheckRoomViewController.swift
  Manito/Manito/Screens/ChooseCharacter/ChooseCharacterViewController.swift
  Manito/Manito/Screens/CreateNickName/CreateNickNameViewController.swift
  Manito/Manito/Screens/CreateRoom/CreateRoomViewController.swift
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Detail-Ing/FriendListViewController.swift
  Manito/Manito/Screens/Detail-Ing/MemoryViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailEditViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Interaction/OpenManittoPopupViewController.swift
  Manito/Manito/Screens/Interaction/OpenManittoViewController.swift
  Manito/Manito/Screens/Interaction/SelectManittoViewController.swift
  Manito/Manito/Screens/InvitedCode/InvitedCodeViewController.swift
  Manito/Manito/Screens/Letter/CreateLetterViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
  Manito/Manito/Screens/Login/LoginViewController.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Screens/ParticipateRoom/ParticipateRoomViewController.swift
  Manito/Manito/Screens/Setting/ChangeNickNameViewController.swift
  Manito/Manito/Screens/Setting/SettingViewController.swift
  Manito/Manito/Screens/SettingDeveloperInfo/SettingDeveloperInfoViewController.swift
  Manito/Manito/Screens/Splash/SplashViewController.swift
Labels: 🐞 Bugfix, ▪️ Main, 👾 듀나

#278 [CHORE] 개발자 정보 이미지 변경
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaChemi.imageset/Chemi01 1.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaChemi.imageset/Chemi01 1@2x.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaChemi.imageset/Chemi01 1@3x.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaChemi.imageset/Contents.json
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaChemi.imageset/imgMaChemi.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaChemi.imageset/imgMaChemi@2x.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaChemi.imageset/imgMaChemi@3x.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaCoby.imageset/Coby01 1.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaCoby.imageset/Coby01 1@2x.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaCoby.imageset/Coby01 1@3x.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaCoby.imageset/Contents.json
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaCoby.imageset/imgMaCoby.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaCoby.imageset/imgMaCoby@2x.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaCoby.imageset/imgMaCoby@3x.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaDinner.imageset/Contents.json
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaDinner.imageset/Dinner01 1.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaDinner.imageset/Dinner01 1@2x.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaDinner.imageset/Dinner01 1@3x.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaDinner.imageset/imgMaDinner.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaDinner.imageset/imgMaDinner@2x.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaDinner.imageset/imgMaDinner@3x.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaDuna.imageset/Contents.json
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaDuna.imageset/Duna01 1.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaDuna.imageset/Duna01 1@2x.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaDuna.imageset/Duna01 1@3x.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaDuna.imageset/imgMaDuna.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaDuna.imageset/imgMaDuna@2x.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaDuna.imageset/imgMaDuna@3x.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaHoya.imageset/Contents.json
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaHoya.imageset/Hoya 1.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaHoya.imageset/Hoya 1@2x.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaHoya.imageset/Hoya 1@3x.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaHoya.imageset/imgMaHoya.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaHoya.imageset/imgMaHoya@2x.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaHoya.imageset/imgMaHoya@3x.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaLivvy.imageset/Contents.json
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaLivvy.imageset/Livvy01 1.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaLivvy.imageset/Livvy01 1@2x.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaLivvy.imageset/Livvy01 1@3x.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaLivvy.imageset/imgMaLivvy.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaLivvy.imageset/imgMaLivvy@2x.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgMaLivvy.imageset/imgMaLivvy@3x.png
  Manito/Manito/Screens/Setting/Component/ImageRowView.swift
Labels: 👾 케미, ▪️ Settings

#281 [CHORE] dismiss 기능 api이후로 동기 처리
  Manito/Manito/Network/API/DetailDoneAPI.swift
  Manito/Manito/Network/API/DetailStartingAPI.swift
  Manito/Manito/Network/API/DetailWaitAPI.swift
  Manito/Manito/Network/API/MainAPI.swift
  Manito/Manito/Network/API/RoomAPI.swift
  Manito/Manito/Network/API/SettingAPI.swift
  Manito/Manito/Network/Protocol/DetailWaitProtocol.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
Labels: ▪️ Detail-ing, 👾 케미

#285 [FIX] 키보드 관련 문제들 해결
  Manito/Manito/Screens/CreateRoom/Component/InputNameView.swift
  Manito/Manito/Screens/CreateRoom/CreateRoomViewController.swift
  Manito/Manito/Screens/ParticipateRoom/ParticipateRoomViewController.swift
  Manito/Manito/Screens/ParticipateRoom/UIComponent/InputInvitedCodeView.swift
Labels: 🐞 Bugfix, ▪️ Create Room, ▪️ ParticipateRoom

#287 [FEAT] 쪽지함 사진 크게보기 추가
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Screens/Letter/Cell/LetterCollectionViewCell.swift
  Manito/Manito/Screens/Letter/LetterImageViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
Labels: 🖍 Design, ▪️ Letter, 👾 케미

#292 [CHORE] 시작 기간 지났을 때 alert 안뜨던 문제 해결
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
Labels: ▪️ Detail-wait, 👾 케미

#288 [FEAT] 쪽지 뱃지 추가
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Detail-Ing/UIcomponent/LetterCountBadgeView.swift
Labels: ▪️ Detail-ing

#290 [ADD] 함께 했던 기록 레이아웃 및 API 연결
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Literal/ImageLiteral.swift
  Manito/Manito/Global/Literal/TextLiteral.swift
  Manito/Manito/Global/Resource/Assets.xcassets/img_characters.imageset/Contents.json
  Manito/Manito/Global/Resource/Assets.xcassets/img_characters.imageset/img_characters.png
  Manito/Manito/Global/Resource/Assets.xcassets/img_characters.imageset/img_characters@2x.png
  Manito/Manito/Global/Resource/Assets.xcassets/img_characters.imageset/img_characters@3x.png
  Manito/Manito/Global/Resource/Storyboards/DetailIng.storyboard
  Manito/Manito/Network/Models/Memory.swift
  Manito/Manito/Screens/Detail-Ing/Cell/MemoryCollectionViewCell.swift
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Detail-Ing/MemoryViewController.swift
Labels: 📬 API, 🖍 Design, ▪️ Detail-ing, 👾 듀나

#293 [FIX] 네비게이션 타이틀이 다시 상단 바에 올라가서 작아져 있는 문제 해결
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
  Manito/Manito/Screens/Setting/ChangeNickNameViewController.swift
  Manito/Manito/Screens/SettingDeveloperInfo/SettingDeveloperInfoViewController.swift
Labels: 🐞 Bugfix, 🖍 Design, 👾 듀나

#297 [FEAT] 함께 했던 기록 공유하기 기능 추가
  Manito/Manito/Global/Extension/UIViewController+Extension.swift
  Manito/Manito/Global/Literal/ImageLiteral.swift
  Manito/Manito/Global/Literal/TextLiteral.swift
  Manito/Manito/Global/Resource/Assets.xcassets/ic_insta.imageset/Contents.json
  Manito/Manito/Global/Resource/Assets.xcassets/ic_insta.imageset/ic_insta.png
  Manito/Manito/Global/Resource/Assets.xcassets/ic_insta.imageset/ic_insta@2x.png
  Manito/Manito/Global/Resource/Assets.xcassets/ic_insta.imageset/ic_insta@3x.png
  Manito/Manito/Global/Resource/Assets.xcassets/ic_share.imageset/ic_share.png
  Manito/Manito/Global/Resource/Assets.xcassets/ic_share.imageset/ic_share@2x.png
  Manito/Manito/Global/Resource/Assets.xcassets/ic_share.imageset/ic_share@3x.png
  Manito/Manito/Global/Supports/Info.plist
  Manito/Manito/Screens/Detail-Ing/MemoryViewController.swift
Labels: ▪️ Detail-ing, 👾 듀나, ✨ Feature

#299 [ADD] OpenSource License bundle 추가
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Settings.bundle/Root.plist
  Manito/Settings.bundle/com.mono0926.LicensePlist.latest_result.txt
  Manito/Settings.bundle/com.mono0926.LicensePlist.plist
  Manito/Settings.bundle/com.mono0926.LicensePlist/FSCalendar.plist
  Manito/Settings.bundle/com.mono0926.LicensePlist/Gifu.plist
  Manito/Settings.bundle/com.mono0926.LicensePlist/SnapKit.plist
  Manito/Settings.bundle/en.lproj/Root.strings
Labels: 👾 듀나

#301 [CHORE] 사진 접근 권한 멘트 변경
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Resource/Storyboards/DetailIng.storyboard
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Login/LoginViewController.swift
Labels: 👾 듀나

#303 [CHORE] 마니또 시작 함수 위치 변경
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
Labels: ▪️ Detail-wait, 👾 케미

#296 [FEAT] 함께 했던 기록의 사진들 크게보는 기능 추가
  Manito/Manito/Screens/Detail-Ing/Cell/MemoryCollectionViewCell.swift
  Manito/Manito/Screens/Detail-Ing/MemoryViewController.swift
Labels: ▪️ Detail-wait, 👾 케미

#305 [CHORE] 방장의 마니띠 공개 로직 수정
  Manito/Manito/Network/API/DetailWaitAPI.swift
  Manito/Manito/Network/Models/Room.swift
  Manito/Manito/Network/Protocol/DetailWaitProtocol.swift
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Interaction/SelectManittoViewController.swift
  Manito/Manito/Screens/Main/MainViewController.swift
Labels: ▪️ Detail-wait, 👾 케미, ▪️ Manitto Interaction

#309 [FIX] nickname이 userdefault에 설정되지 않는 문제 해결
  Manito/Manito/Screens/CreateNickName/CreateNickNameViewController.swift
Labels: 🐞 Bugfix, 👾 듀나, ▪️ Login

#310 [CHORE] ProductionURL로 변경
  Manito/Manito/Network/Service/APIEnvironment.swift
Labels: 📬 API, 👾 듀나
