Repository DeveloperAcademy-POSTECH/MC2-Team5-Firefighter, pull requests merged in 2022-10, with the labels that each got.

#316 [CHORE] 대기중 방의 톱니바퀴 버튼 -> 닷닷닷버튼으로 수정
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/UIComponent/MoreButton.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
Labels: ▪️ Detail-wait, 👾 케미, 👏 Improvement, 🏖 Relax, 🛠 Chore

#321 [CHORE] capsule, joystick gif를 하얀선 없는 버전으로 변경으로 변경했습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Resource/GIFs/capsule.gif
  Manito/Manito/Global/Resource/GIFs/joystick.gif
Labels: 🖍 Design, 👾 듀나, ▪️ Manitto Interaction, 🏖 Relax, 🛠 Chore

#318 [CHORE] 진행중인 방에서 내 마니띠를 볼 수 있는 애니메이션의 속도를 조절했습니다.
  Manito/Manito/Global/Resource/Storyboards/DetailIng.storyboard
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
Labels: ▪️ Detail-ing, 👾 케미, 👏 Improvement, 🏖 Relax, 🛠 Chore
