Repository DeveloperAcademy-POSTECH/MC2-Team5-Firefighter, pull requests merged in 2022-07, with the labels that each got.

#95 [CHORE] App Flow 연결
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Resource/Storyboards/Base.lproj/Main.storyboard
  Manito/Manito/Global/Resource/Storyboards/DetailIng.storyboard
  Manito/Manito/Global/Resource/Storyboards/DetailWait.storyboard
  Manito/Manito/Global/Resource/Storyboards/Interaction.storyboard
  Manito/Manito/Global/Resource/Storyboards/Letter.storyboard
  Manito/Manito/Global/Resource/Storyboards/Splash.storyboard
  Manito/Manito/Global/Supports/Info.plist
  Manito/Manito/Screens/CreateNickName/CreateNickNameViewController.swift
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Interaction/OpenManittoPopupViewController.swift
  Manito/Manito/Screens/Interaction/SelectManittoViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Screens/Splash/SplashViewController.swift
Labels: ▪️ Detail-wait, ▪️ Detail-ing, ▪️ Main, ▪️ Nickname, ▪️ Create Room, ▪️ Invite Room, ▪️ Letter, 👾 케미, ▪️ Splash, ▪️ Manitto Interaction

#103 [ADD] LoginView 구현
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Literal/ImageLiteral.swift
  Manito/Manito/Global/Resource/Assets.xcassets/imgAppIcon.imageset/Contents.json
  Manito/Manito/Global/Resource/Assets.xcassets/imgAppIcon.imageset/imgAppIcon.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgAppIcon.imageset/imgAppIcon@2x.png
  Manito/Manito/Global/Resource/Assets.xcassets/imgAppIcon.imageset/imgAppIcon@3x.png
  Manito/Manito/Screens/Login/LoginViewController.swift
Labels: 🖍 Design, 👾 케미, ▪️ Login

#97 [FEAT] 기간 선택뷰 에서 케미가 만든 캘린더뷰 가져오기
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Supports/Info.plist
  Manito/Manito/Screens/CreateRoom/Component/InputDateView.swift
  Manito/Manito/Screens/CreateRoom/CreateRoomViewController.swift
Labels: ▪️ Create Room, 👾 케미, 👾 호야

#105 [CHORE] 패딩값 16에서 Size.leadingTrailingPadding으로 변경
  Manito/Manito/Screens/CheckRoom/CheckRoomViewController.swift
  Manito/Manito/Screens/CreateNickName/CreateNickNameViewController.swift
  Manito/Manito/Screens/CreateRoom/Component/InputPersonView.swift
  Manito/Manito/Screens/CreateRoom/CreateRoomViewController.swift
Labels: ▪️ Create Room, 👾 호야
