Repository DeveloperAcademy-POSTECH/MC2-Team5-Firefighter, pull requests merged in 2022-11, with the labels that each got.

#327 [SETTING] PR template을 수정합니다
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ⚙️ Setting, 👾 케미

#339 [ADD] 텍스트 필드 있는 뷰들, 바로 키보드 올라오기
  Manito/Manito/Screens/CreateNickName/CreateNickNameViewController.swift
  Manito/Manito/Screens/CreateRoom/Component/InputNameView.swift
  Manito/Manito/Screens/ParticipateRoom/UIComponent/InputInvitedCodeView.swift
Labels: 👾 코비, ✨ Feature, 🛠 Chore

#337 [FIX] 텍스트 필드 달그락 거리는 버그 해결
  Manito/Manito/Screens/CreateNickName/CreateNickNameViewController.swift
  Manito/Manito/Screens/CreateRoom/Component/InputNameView.swift
  Manito/Manito/Screens/ParticipateRoom/UIComponent/InputInvitedCodeView.swift
  Manito/Manito/Screens/Setting/ChangeNickNameViewController.swift
Labels: 🐞 Bugfix, 👾 호야, 🏖 Relax

#335 [CHORE] 토스트 팝업 속도 조절
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/InvitedCode/InvitedCodeViewController.swift
Labels: ▪️ Detail-wait, 👾 케미, 👏 Improvement, 🛠 Chore

#333 [FIX] LetterView Guide View 사라지지 않는 문제를 해결했습니다.
  Manito/Manito/Screens/Letter/LetterViewController.swift
Labels: 🐞 Bugfix, ▪️ Letter, 👾 케미

#338 [FEAT] 완료된 방 나가기 기능 추가
  Manito/Manito/Global/Literal/TextLiteral.swift
  Manito/Manito/Network/API/DetailDoneAPI.swift
  Manito/Manito/Network/EndPoint/DetailDoneEndPoint.swift
  Manito/Manito/Network/Protocol/DetailDoneProtocol.swift
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
Labels: 📬 API, ▪️ Detail-ing, 👾 케미

#332 [ADD] Detailing 뷰 Storyboard -> Codebase
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Extension/UIColor+Extension.swift
  Manito/Manito/Screens/Detail-Ing/DetailngCodebaseViewController.swift
Labels: ▪️ Detail-ing, 🔨 Refactor, 👾 디너
