Repository DeveloperAcademy-POSTECH/MC2-Team5-Firefighter, pull requests merged in 2023-06, with the labels that each got.

#461 [SETTING] 테스트코드 작성을 위한 Target을 추가했습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito.xcodeproj/xcshareddata/xcschemes/Manito.xcscheme
  Manito/ManitoTests/ManitoTests.swift
Labels: ⚙️ Setting, 👾 케미

#455 [REFACTOR] ChooseCharacterViewController를 View 분리, 컨벤션 적용
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Network/Models/Request/RoomDTO.swift
  Manito/Manito/Screens/ChooseCharacter/ChooseCharacterViewController.swift
  Manito/Manito/Screens/ChooseCharacter/UIComponent/CharacterCollectionViewCell.swift
  Manito/Manito/Screens/ChooseCharacter/UIComponent/ChooseCharacterView.swift
  Manito/Manito/Screens/CreateRoom/CreateRoomViewController.swift
  Manito/Manito/Screens/CreateRoom/UIComponent/CharacterCollectionView.swift
  Manito/Manito/Screens/ParticipateRoom/ParticipateRoomViewController.swift
Labels: 🐞 Bugfix, 🔨 Refactor, 👾 호야, ▪️ Character-choose

#459 [REFACTOR] SettingViewController View 분리하였습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Screens/Setting/Cell/SettingViewTableCell.swift
  Manito/Manito/Screens/Setting/SettingViewController+MailComposeViewControllerDelegate.swift
  Manito/Manito/Screens/Setting/SettingViewController.swift
  Manito/Manito/Screens/Setting/View/SettingView.swift
Labels: 🔨 Refactor, 👾 호야, ▪️ Settings

#446 [REFACTOR] 방 정보 수정 ViewController의 View를 분리했습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Literal/TextLiteral.swift
  Manito/Manito/Screens/Detail-Wait/DetailEditViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/CalendarView.swift
  Manito/Manito/Screens/Detail-Wait/View/DetailEditView.swift
Labels: ▪️ Detail-wait, 🔨 Refactor, 👾 케미

#470 [BUGFIX] 대기중 방의 초대코드 관련 버그를 해결했습니다.
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Detail-Wait/View/DetailWaitView.swift
Labels: 🐞 Bugfix, ▪️ Detail-wait, 👾 케미, 🙏 ASAP

#472 [FIX] 캐릭터 선택시에 0번 인덱스로 들어가는 버그를 해결했습니다.
  Manito/Manito/Network/Models/Request/RoomDTO.swift
Labels: 🐞 Bugfix, 👾 케미, 🙏 ASAP
