Repository DeveloperAcademy-POSTECH/MC2-Team5-Firefighter, pull requests merged in 2023-04, with the labels that each got.

#416 [CHORE] Network Path 코드에서 version 부분을 다룰 수 있도록 수정했습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Literal/URLLiteral.swift
  Manito/Manito/Network/EndPoint/DetailDoneEndPoint.swift
  Manito/Manito/Network/EndPoint/DetailIngEndPoint.swift
  Manito/Manito/Network/EndPoint/DetailWaitEndPoint.swift
  Manito/Manito/Network/EndPoint/InteractionEndPoint.swift
  Manito/Manito/Network/EndPoint/LetterEndPoint.swift
  Manito/Manito/Network/EndPoint/LoginEndPoint.swift
  Manito/Manito/Network/EndPoint/MainEndPoint.swift
  Manito/Manito/Network/EndPoint/RoomEndPoint.swift
  Manito/Manito/Network/EndPoint/SettingEndPoint.swift
  Manito/Manito/Network/EndPoint/TokenEndPoint.swift
  Manito/Manito/Network/Foundation/APIEnvironment.swift
  Manito/Manito/Network/Foundation/APIService.swift
  Manito/Manito/Network/Foundation/Endpointable.swift
  Manito/Manito/Network/Foundation/URLRepresentable.swift
  Manito/Manito/Screens/Setting/SettingViewController.swift
Labels: 📬 API, 🔨 Refactor, ⚙️ Setting, 👾 듀나

#427 [CHORE] Interaction 화면에 코드 컨벤션을 적용했습니다.
  Manito/Manito/Global/Literal/TextLiteral.swift
  Manito/Manito/Network/Models/FriendList.swift
  Manito/Manito/Screens/Detail-Ing/FriendListViewController.swift
  Manito/Manito/Screens/Detail-Ing/MemoryViewController.swift
  Manito/Manito/Screens/Interaction/Cell/ManittoCollectionViewCell.swift
  Manito/Manito/Screens/Interaction/OpenManittoPopupViewController.swift
  Manito/Manito/Screens/Interaction/OpenManittoViewController.swift
  Manito/Manito/Screens/Interaction/SelectManittoViewController.swift
Labels: 👾 듀나, ▪️ Manitto Interaction, 🛠 Chore

#429 [DEL] Interaction 스토리보드 삭제 및 스토리보드 Component를 Code로 구현했습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Literal/TextLiteral.swift
  Manito/Manito/Global/Resource/Storyboards/DetailIng.storyboard
  Manito/Manito/Global/Resource/Storyboards/Interaction.storyboard
  Manito/Manito/Screens/Detail-Ing/DetailingViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Interaction/OpenManittoViewController.swift
  Manito/Manito/Screens/Interaction/SelectManittoViewController.swift
Labels: 🔨 Refactor, 👾 듀나, ▪️ Manitto Interaction, 🛠 Chore

#443 [FIX] 갤러리 취소 버튼을 눌렀을 때 아무런 동작이 없는 문제를 해결했습니다.
  Manito/Manito/Screens/Letter/UIComponent/CreateLetterPhotoView.swift
Labels: 🐞 Bugfix, ▪️ Letter, 👾 듀나, 🛠 Chore

#432 [FIX] 푸시알림으로 들어갔을 때 생기는 버그를 수정했습니다.
  Manito/Manito/Screens/Detail-Ing/DetailingViewController.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Screens/Splash/SplashViewController.swift
Labels: 🐞 Bugfix, ▪️ Main, ▪️ Letter, 👾 케미

#439 [FIX] 캘린더 7일이상 선택되는 버그를 해결했습니다.
  Manito/Manito/Screens/Detail-Wait/UIComponent/CalendarView.swift
Labels: 🐞 Bugfix, ▪️ Create Room, 👾 케미

#447 [CHORE] v1.5.0 출시에 따른 main 브랜치를 업데이트합니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Literal/TextLiteral.swift
  Manito/Manito/Global/Literal/URLLiteral.swift
  Manito/Manito/Global/Resource/Storyboards/DetailIng.storyboard
  Manito/Manito/Global/Resource/Storyboards/Interaction.storyboard
  Manito/Manito/Network/EndPoint/DetailDoneEndPoint.swift
  Manito/Manito/Network/EndPoint/DetailIngEndPoint.swift
  Manito/Manito/Network/EndPoint/DetailWaitEndPoint.swift
  Manito/Manito/Network/EndPoint/InteractionEndPoint.swift
  Manito/Manito/Network/EndPoint/LetterEndPoint.swift
  Manito/Manito/Network/EndPoint/LoginEndPoint.swift
  Manito/Manito/Network/EndPoint/MainEndPoint.swift
  Manito/Manito/Network/EndPoint/RoomEndPoint.swift
  Manito/Manito/Network/EndPoint/SettingEndPoint.swift
  Manito/Manito/Network/EndPoint/TokenEndPoint.swift
  Manito/Manito/Network/Foundation/APIEnvironment.swift
  Manito/Manito/Network/Foundation/APIService.swift
  Manito/Manito/Network/Foundation/Endpointable.swift
  Manito/Manito/Network/Foundation/URLRepresentable.swift
  Manito/Manito/Network/Models/FriendList.swift
  Manito/Manito/Network/Storage/UserDefaultStorage.swift
  Manito/Manito/Screens/Detail-Ing/DetailingViewController.swift
  Manito/Manito/Screens/Detail-Ing/FriendListViewController.swift
  Manito/Manito/Screens/Detail-Ing/MemoryViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/CalendarView.swift
  Manito/Manito/Screens/Interaction/Cell/ManittoCollectionViewCell.swift
  Manito/Manito/Screens/Interaction/Cell/OpenManittoCollectionViewCell.swift
  Manito/Manito/Screens/Interaction/OpenManittoPopupViewController.swift
  Manito/Manito/Screens/Interaction/OpenManittoViewController.swift
  Manito/Manito/Screens/Interaction/SelectManitteeViewController.swift
  Manito/Manito/Screens/Interaction/SelectManittoViewController.swift
  Manito/Manito/Screens/Interaction/View/OpenManittoPopupView.swift
  Manito/Manito/Screens/Interaction/View/OpenManittoView.swift
  Manito/Manito/Screens/Interaction/View/SelectManitteeView.swift
  Manito/Manito/Screens/Letter/Cell/LetterCollectionViewCell.swift
  Manito/Manito/Screens/Letter/CreateLetterViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
  Manito/Manito/Screens/Letter/UIComponent/CreateLetterPhotoView.swift
  Manito/Manito/Screens/Letter/UIComponent/LetterHeaderView.swift
  Manito/Manito/Screens/Letter/View/LetterView.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Screens/Setting/ChangeNickNameViewController.swift
  Manito/Manito/Screens/Setting/SettingViewController.swift
  Manito/Manito/Screens/Splash/SplashViewController.swift
Labels: Main, Minor

#448 [CHORE] v1.5.0 출시에 따라 develop 브랜치를 업데이트 합니다.
  Manito/Manito.xcodeproj/project.pbxproj
Labels: 🛠 Chore
