Repository DeveloperAcademy-POSTECH/MC2-Team5-Firefighter, pull requests merged in 2023-11, with the labels that each got.

#584 [CHORE] CreateRoom 관련해 Error 를 추가했습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Data/Error/CreateRoomScene/CreateRoomError.swift
  Manito/Manito/Screens/CreateRoom/CreateRoomViewController.swift
  Manito/Manito/Screens/CreateRoom/Services/CreateRoomService.swift
  Manito/Manito/Screens/CreateRoom/ViewModel/CreateRoomViewModel.swift
Labels: ▪️ Create Room, 👾 호야, 🛠 Chore

#588 [REFACTOR] Repository 를 Data 영역에서 Domain 영역으로 분리하였습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Data/Repository/DetailRoomRepositoryImpl.swift
  Manito/Manito/Data/Repository/LetterRepositoryImpl.swift
  Manito/Manito/Data/Repository/LoginRepositoryImpl.swift
  Manito/Manito/Data/Repository/MainRepositoryImpl.swift
  Manito/Manito/Data/Repository/RoomParticipationRepositoryImpl.swift
  Manito/Manito/Data/Repository/SettingRepositoryImpl.swift
  Manito/Manito/Data/Repository/TokenRepositoryImpl.swift
  Manito/Manito/Domain/Repository/DetailRoomRepository.swift
  Manito/Manito/Domain/Repository/LetterRepository.swift
  Manito/Manito/Domain/Repository/LoginRepository.swift
  Manito/Manito/Domain/Repository/MainRepository.swift
  Manito/Manito/Domain/Repository/RoomParticipationRepository.swift
  Manito/Manito/Domain/Repository/SettingRepository.swift
  Manito/Manito/Domain/Repository/TokenRepository.swift
  Manito/Manito/Util/Literal/en.lproj/Localizable.strings
Labels: 🔨 Refactor, 👾 호야

#591 [BUGFIX] Main 스토리보드 삭제에 따른 앱 Crash 버그를 수정했습니다.
  Manito/Manito/Screens/NickName/ViewControllers/CreateNicknameViewController.swift
Labels: 🐞 Bugfix, ▪️ Nickname, 👾 호야

#589 [REFACTOR] CreateRoom 로직을 리팩토링 했습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Domain/Entity/CreateRoomInfo.swift
  Manito/Manito/Domain/Usecase/CreateRoomScene/CreateRoomUsecase.swift
  Manito/Manito/Presentation/Scene/ParticipateRoomScene/View/ChooseCharacterView.swift
  Manito/Manito/Screens/CreateRoom/CreateRoomViewController.swift
  Manito/Manito/Screens/CreateRoom/UIComponent/CharacterCollectionView.swift
  Manito/Manito/Screens/CreateRoom/UIComponent/CheckRoomInfoView.swift
  Manito/Manito/Screens/CreateRoom/UIComponent/InputCapacityView.swift
  Manito/Manito/Screens/CreateRoom/UIComponent/InputDateView.swift
  Manito/Manito/Screens/CreateRoom/UIComponent/InputTitleView.swift
  Manito/Manito/Screens/CreateRoom/View/CreateRoomView.swift
  Manito/Manito/Screens/CreateRoom/ViewModel/CreateRoomViewModel.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Util/Extension/Combine/UIControl+Combine.swift
Labels: ▪️ Create Room, 🔨 Refactor, 👾 호야

#593 [REFACTOR] 최대글자수를 넘어가는 부분을 컷하는 로직을 공통화 usecase 로 만들었습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Domain/Usecase/Common/TextFieldUsecase.swift
  Manito/Manito/Presentation/Scene/ParticipateRoomScene/ViewModel/ParticipateRoomViewModel.swift
  Manito/Manito/Screens/CreateRoom/ViewModel/CreateRoomViewModel.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Util/Literal/en.lproj/Localizable.strings
Labels: ▪️ Create Room, 🔨 Refactor, 👾 호야, ▪️ ParticipateRoom

#597 [REFACTOR] 방 참여 관련 씬의 코드를 정리하였습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Data/Error/ParticipateRoomScene/ChooseCharacterError.swift
  Manito/Manito/Data/Error/ParticipateRoomScene/ParticipateRoomError.swift
  Manito/Manito/Data/Repository/RoomParticipationRepositoryImpl.swift
  Manito/Manito/Domain/Entity/ParticipatedRoomInfo.swift
  Manito/Manito/Domain/Usecase/ParticipateRoomScene/ParticipateRoomUsecase.swift
  Manito/Manito/Presentation/Scene/ParticipateRoomScene/View/ChooseCharacterView.swift
  Manito/Manito/Presentation/Scene/ParticipateRoomScene/View/ParticipateRoomView.swift
  Manito/Manito/Presentation/Scene/ParticipateRoomScene/View/ParticipationRoomDetailsView.swift
  Manito/Manito/Presentation/Scene/ParticipateRoomScene/View/UIComponent/InputInvitedCodeView.swift
  Manito/Manito/Presentation/Scene/ParticipateRoomScene/ViewController/ChooseCharacterViewController.swift
  Manito/Manito/Presentation/Scene/ParticipateRoomScene/ViewController/ParticipateRoomViewController.swift
  Manito/Manito/Presentation/Scene/ParticipateRoomScene/ViewController/ParticipationRoomDetailsViewController.swift
  Manito/Manito/Presentation/Scene/ParticipateRoomScene/ViewModel/ChooseCharacterViewModel.swift
  Manito/Manito/Presentation/Scene/ParticipateRoomScene/ViewModel/ParticipateRoomViewModel.swift
  Manito/Manito/Presentation/Scene/ParticipateRoomScene/ViewModel/ParticipationRoomDetailsViewModel.swift
  Manito/Manito/Util/Literal/en.lproj/Localizable.strings
Labels: 🔨 Refactor, 👾 호야, ▪️ ParticipateRoom, ▪️ Character-choose

#603 [REFACTOR] SettingScene 에 있는 코드들의 품질을 향상 시켰습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Data/Error/SettingScene/SettingError.swift
  Manito/Manito/Domain/Usecase/SettingScene/SettingUsecase.swift
  Manito/Manito/Presentation/Scene/SettingScene/View/SettingView.swift
  Manito/Manito/Presentation/Scene/SettingScene/View/UIComponent/TopCharacterImageView.swift
  Manito/Manito/Presentation/Scene/SettingScene/ViewController/SettingViewController.swift
  Manito/Manito/Presentation/Scene/SettingScene/ViewModel/SettingViewModel.swift
  Manito/Manito/Screens/Login/LoginViewController.swift
Labels: 🔨 Refactor, 👾 호야, ▪️ Settings

#600 [REFACTOR] 방 정보 수정 View를 CleanArchitecture + MVVM 구조로 리팩토링 했습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Domain/Error/DetailEdit/DetailEditUsecaseError.swift
  Manito/Manito/Domain/Usecase/DetailWait/DetailEditUsecase.swift
  Manito/Manito/Screens/Detail-Wait/DetailEditViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/CalendarView.swift
  Manito/Manito/Screens/Detail-Wait/View/DetailEditView.swift
  Manito/Manito/Screens/Detail-Wait/ViewModel/DetailEditViewModel.swift
  Manito/Manito/Screens/Detail-Wait/ViewModel/DetailWaitViewModel.swift
  Manito/Manito/Util/Literal/TextLiteral.swift
  Manito/ManitoTests/Domain/Usecase/DetailEditUsecaseTest.swift
Labels: ▪️ Detail-wait, 🔨 Refactor, 👾 케미

#605 [CHORE] v1.7.0 출시에 따른 develop 브랜치 업데이트
  Manito/Manito.xcodeproj/project.pbxproj
Labels: 👾 케미, 🛠 Chore
