Repository DeveloperAcademy-POSTECH/MC2-Team5-Firefighter, pull requests merged in 2023-07, with the labels that each got.

#457 [REFACTOR] ParticipateRoomViewController 를 View와 분리하였습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Manito/Manito/Screens/ParticipateRoom/ParticipateRoomView.swift
  Manito/Manito/Screens/ParticipateRoom/ParticipateRoomViewController.swift
Labels: 🐞 Bugfix, 🔨 Refactor, 👾 호야, ▪️ ParticipateRoom

#473 [FEAT] 서비스 탈퇴 기능 UI 구현
  Manito/Manito/Global/Extension/UIButton+Extension.swift
  Manito/Manito/Global/Literal/TextLiteral.swift
  Manito/Manito/Screens/Setting/SettingViewController.swift
  Manito/Manito/Screens/Setting/View/SettingView.swift
Labels: 👾 호야, ▪️ Settings, ✨ Feature

#476 [FEAT] async 메서드를 사용할 수 있는 AsyncMap를 Extension에 추가했습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Extension/Publisher+Extension.swift
  Manito/Manito/Screens/Letter/ViewModels/LetterViewModel.swift
  Manito/Manito/Screens/Letter/Views/ViewControllers/LetterViewController.swift
Labels: ▪️ Letter, 👾 듀나, 🛠 Chore

#478 [CHORE] URL 숨기기 작업을 위한 PR입니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Extension/URLInfo+Extension.swift
  Manito/Manito/Global/Literal/URLInfo.plist
  Manito/Manito/Global/Literal/URLLiteral.swift
Labels: 👾 케미, 🛠 Chore

#480 [ADD] Network 라이브러리를 추가했습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Packages/MTNetwork/.gitignore
  Manito/Packages/MTNetwork/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Manito/Packages/MTNetwork/Package.swift
  Manito/Packages/MTNetwork/README.md
  Manito/Packages/MTNetwork/Sources/MTNetwork/EndPoint.swift
  Manito/Packages/MTNetwork/Sources/MTNetwork/HTTPHeader.swift
  Manito/Packages/MTNetwork/Sources/MTNetwork/HTTPMethod.swift
  Manito/Packages/MTNetwork/Sources/MTNetwork/HTTPTask.swift
  Manito/Packages/MTNetwork/Sources/MTNetwork/MTError.swift
  Manito/Packages/MTNetwork/Sources/MTNetwork/MultipartFormData.swift
  Manito/Packages/MTNetwork/Sources/MTNetwork/MultipartFormDataWrapper.swift
  Manito/Packages/MTNetwork/Sources/MTNetwork/NetworkLogger.swift
  Manito/Packages/MTNetwork/Sources/MTNetwork/Providable.swift
  Manito/Packages/MTNetwork/Sources/MTNetwork/Provider.swift
  Manito/Packages/MTNetwork/Sources/MTNetwork/Requestable.swift
  Manito/Packages/MTNetwork/Sources/MTNetwork/Response.swift
  Manito/Packages/MTNetwork/Sources/MTNetwork/URL+MTNetwork.swift
  Manito/Packages/MTNetwork/Sources/MTNetwork/URLRequest+MTNetwork.swift
  Manito/Packages/MTNetwork/Tests/MTNetworkTests/MTNetworkTests.swift
Labels: ⚙️ Setting, 👾 듀나

#462 [REFACTOR] DetailWaitView를 Combine + MVVM으로 리팩토링했습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Network/Models/Room.swift
  Manito/Manito/Screens/ChooseCharacter/ChooseCharacterViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Detail-Wait/Services/DetailWaitService.swift
  Manito/Manito/Screens/Detail-Wait/View/DetailWaitView.swift
  Manito/Manito/Screens/Detail-Wait/ViewModel/DetailWaitViewModel.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/ManitoTests/DetailWaitViewModelTest.swift
Labels: ▪️ Detail-wait, 🔨 Refactor, 👾 케미
