Repository DeveloperAcademy-POSTECH/MC2-Team5-Firefighter, pull requests merged in 2023-10, with the labels that each got.

#536 [FEAT] Google Sheet로 작성해둔 Text에 맞게 TextLiteral을 수정하고 적용했습니다.
  Manito/Manito/Domain/Entity/MessageListItem.swift
  Manito/Manito/Domain/Entity/RoomStatus.swift
  Manito/Manito/Domain/Error/LetterScene/LetterUsecaseError.swift
  Manito/Manito/Presentation/Common/Component/View/GuideView.swift
  Manito/Manito/Presentation/Common/Component/View/ToastPopupView.swift
  Manito/Manito/Presentation/Error/LetterScene/LetterImageError.swift
  Manito/Manito/Presentation/Scene/LetterScene/View/LetterView.swift
  Manito/Manito/Presentation/Scene/LetterScene/View/UIComponent/LetterHeaderView.swift
  Manito/Manito/Presentation/Scene/LetterScene/ViewController/LetterViewController.swift
  Manito/Manito/Screens/CheckRoom/CheckRoomViewController.swift
  Manito/Manito/Screens/ChooseCharacter/ChooseCharacterViewController.swift
  Manito/Manito/Screens/ChooseCharacter/View/ChooseCharacterView.swift
  Manito/Manito/Screens/CreateRoom/CreateRoomViewController.swift
  Manito/Manito/Screens/CreateRoom/UIComponent/CheckRoomInfoView.swift
  Manito/Manito/Screens/CreateRoom/UIComponent/InputCapacityView.swift
  Manito/Manito/Screens/CreateRoom/UIComponent/InputDateView.swift
  Manito/Manito/Screens/CreateRoom/UIComponent/InputTitleView.swift
  Manito/Manito/Screens/CreateRoom/View/CreateRoomView.swift
  Manito/Manito/Screens/Detail-Ing/DetailingViewController.swift
  Manito/Manito/Screens/Detail-Ing/MemoryViewController.swift
  Manito/Manito/Screens/Detail-Ing/MissionEditViewController.swift
  Manito/Manito/Screens/Detail-Ing/View/DetailingView.swift
  Manito/Manito/Screens/Detail-Wait/DetailEditViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/CalendarView.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/DetailWaitTitleView.swift
  Manito/Manito/Screens/Detail-Wait/View/DetailEditView.swift
  Manito/Manito/Screens/Detail-Wait/View/DetailWaitView.swift
  Manito/Manito/Screens/Interaction/OpenManittoViewController.swift
  Manito/Manito/Screens/Interaction/View/OpenManittoPopupView.swift
  Manito/Manito/Screens/Interaction/View/OpenManittoView.swift
  Manito/Manito/Screens/Interaction/View/SelectManitteeView.swift
  Manito/Manito/Screens/InvitedCode/InvitedCodeViewController.swift
  Manito/Manito/Screens/Letter/Views/UIComponents/CreateLetterPhotoView.swift
  Manito/Manito/Screens/Letter/Views/UIComponents/CreateLetterTextView.swift
  Manito/Manito/Screens/Letter/Views/UIComponents/IndividualMissionView.swift
  Manito/Manito/Screens/Letter/Views/ViewControllers/CreateLetterViewController.swift
  Manito/Manito/Screens/Letter/Views/ViewControllers/LetterImageViewController.swift
  Manito/Manito/Screens/Letter/Views/ViewControllers/LetterViewController+MailCompose.swift
  Manito/Manito/Screens/Letter/Views/Views/CreateLetterView.swift
  Manito/Manito/Screens/Main/Cell/CreateRoomCollectionViewCell.swift
  Manito/Manito/Screens/Main/Cell/ManitoRoomCollectionCell.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Screens/Main/UIComponent/CommonMissionView.swift
  Manito/Manito/Screens/NickName/View/NicknameView.swift
  Manito/Manito/Screens/NickName/ViewControllers/ChangeNicknameViewController.swift
  Manito/Manito/Screens/NickName/ViewControllers/CreateNicknameViewController.swift
  Manito/Manito/Screens/ParticipateRoom/UIComponent/InputInvitedCodeView.swift
  Manito/Manito/Screens/ParticipateRoom/View/ParticipateRoomView.swift
  Manito/Manito/Screens/ParticipateRoom/View/ParticipationRoomDetailsView.swift
  Manito/Manito/Screens/ParticipateRoom/ViewControllers/ParticipateRoomViewController.swift
  Manito/Manito/Screens/Setting/View/SettingView.swift
  Manito/Manito/Screens/Setting/ViewControllers/SettingViewController+MailComposeViewControllerDelegate.swift
  Manito/Manito/Screens/Setting/ViewControllers/SettingViewController.swift
  Manito/Manito/Screens/SettingDeveloperInfo/SettingDeveloperInfoViewController.swift
  Manito/Manito/Util/Literal/TextLiteral.swift
  Manito/Manito/Util/Literal/en.lproj/Localizable.strings
Labels: ⚙️ Setting, 👾 듀나, ✨ Feature, 🫶🏻 Improvement

#558 [FEAT] 메일 보내는 코드를 MailManager로 묶어서 Letter, Setting 부분에 적용했습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Presentation/Scene/LetterScene/ViewController/LetterViewController.swift
  Manito/Manito/Screens/Letter/Views/ViewControllers/LetterViewController+MailCompose.swift
  Manito/Manito/Screens/Setting/ViewControllers/SettingViewController+MailComposeViewControllerDelegate.swift
  Manito/Manito/Screens/Setting/ViewControllers/SettingViewController.swift
  Manito/Manito/Service/MailComposeManager/MailComposeManager.swift
Labels: ▪️ Letter, 🔨 Refactor, 👾 듀나, ▪️ Settings

#553 [REFACTOR] CreateLetterVC를 MVVM패턴으로 리팩토링을 진행했습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Domain/Error/LetterScene/LetterUsecaseError.swift
  Manito/Manito/Domain/Usecase/LetterScene/SendLetterUsecase.swift
  Manito/Manito/Presentation/Scene/LetterScene/View/LetterView.swift
  Manito/Manito/Presentation/Scene/LetterScene/View/SendLetterView.swift
  Manito/Manito/Presentation/Scene/LetterScene/View/UIComponent/IndividualMissionView.swift
  Manito/Manito/Presentation/Scene/LetterScene/View/UIComponent/LetterHeaderView.swift
  Manito/Manito/Presentation/Scene/LetterScene/View/UIComponent/SendLetterPhotoView.swift
  Manito/Manito/Presentation/Scene/LetterScene/View/UIComponent/SendLetterTextView.swift
  Manito/Manito/Presentation/Scene/LetterScene/ViewController/LetterViewController.swift
  Manito/Manito/Presentation/Scene/LetterScene/ViewController/SendLetterViewController.swift
  Manito/Manito/Presentation/Scene/LetterScene/ViewModel/LetterViewModel.swift
  Manito/Manito/Presentation/Scene/LetterScene/ViewModel/SendLetterViewModel.swift
  Manito/Manito/Screens/Letter/Views/UIComponents/CreateLetterPhotoView.swift
  Manito/Manito/Screens/Letter/Views/ViewControllers/CreateLetterViewController.swift
  Manito/Manito/Service/PhotoPickerManager/Error/PHPickerError.swift
  Manito/Manito/Service/PhotoPickerManager/PhotoPickerManager.swift
  Manito/Manito/Util/Extension/UI/UIView/UIImageView+Cache.swift
  Manito/Manito/Util/Literal/TextLiteral.swift
Labels: ▪️ Letter, 🔨 Refactor, 👾 듀나

#555 [FIX] DB에 이미지가 없어서 앱이 종료되는 문제를 해결했습니다.
  Manito/Manito/Data/DTO/Response/MessageListItemDTO.swift
  Manito/Manito/Global/Literal/ValueLiteral.swift
  Manito/Manito/Presentation/Scene/LetterScene/ViewModel/LetterViewModel.swift
Labels: 🐞 Bugfix, ▪️ Letter, 👾 듀나

#560 [REFACTOR] LetterImageVC를 Presentation으로 옮기고 Combine을 적용시켰습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Presentation/Error/LetterScene/LetterImageError.swift
  Manito/Manito/Presentation/Scene/LetterScene/View/LetterImageView.swift
  Manito/Manito/Presentation/Scene/LetterScene/ViewController/LetterImageViewController.swift
  Manito/Manito/Screens/Letter/Views/ViewControllers/LetterImageViewController.swift
  Manito/Manito/Service/PhotoPickerManager/PhotoPickerManager.swift
Labels: ▪️ Letter, 🔨 Refactor, 👾 듀나

#564 [REFACTOR] MemoryVC를 MVVM으로 리팩토링했습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Data/DTO/Response/MemoryDTO.swift
  Manito/Manito/Domain/Entity/FriendList.swift
  Manito/Manito/Domain/Entity/Memory.swift
  Manito/Manito/Domain/Error/DetailScene/DetailUsecaseError.swift
  Manito/Manito/Domain/Usecase/DetailScene/MemoryUsecase.swift
  Manito/Manito/Presentation/Scene/DetailScene/Detail/View/Cell/MemoryCollectionViewCell.swift
  Manito/Manito/Presentation/Scene/DetailScene/Detail/View/MemoryView.swift
  Manito/Manito/Presentation/Scene/DetailScene/Detail/ViewController/MemoryViewController.swift
  Manito/Manito/Presentation/Scene/DetailScene/Detail/ViewModel/MemoryViewModel.swift
  Manito/Manito/Screens/Detail-Ing/DetailingViewController.swift
  Manito/Manito/Screens/Detail-Ing/MemoryViewController.swift
  Manito/Manito/Util/Literal/URLLiteral.swift
Labels: 🐞 Bugfix, ▪️ Detail-ing, 🔨 Refactor, 👾 듀나

#546 [REFACTOR] ChooseCharacterViewController 를 MVVM + Combine 으로 변경했습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Data/Repository/RoomParticipationRepository.swift
  Manito/Manito/Screens/ChooseCharacter/ChooseCharacterViewController.swift
  Manito/Manito/Screens/CreateRoom/UIComponent/CharacterCollectionView.swift
  Manito/Manito/Screens/ParticipateRoom/Services/ParticipateRoomService.swift
  Manito/Manito/Screens/ParticipateRoom/UIComponent/CharacterCollectionViewCell.swift
  Manito/Manito/Screens/ParticipateRoom/View/ChooseCharacterView.swift
  Manito/Manito/Screens/ParticipateRoom/ViewControllers/ChooseCharacterViewController.swift
  Manito/Manito/Screens/ParticipateRoom/ViewControllers/ParticipationRoomDetailsViewController.swift
  Manito/Manito/Screens/ParticipateRoom/ViewModel/ChooseCharacterViewModel.swift
  Manito/Manito/Util/Literal/en.lproj/Localizable.strings
Labels: 🔨 Refactor, 👾 호야, ▪️ Character-choose

#552 [REFACTOR] Keyboard 관련 레이아웃 잡기 방법 변경
  Manito/Manito/Screens/CreateRoom/View/CreateRoomView.swift
  Manito/Manito/Screens/Detail-Ing/MissionEditViewController.swift
  Manito/Manito/Screens/NickName/View/NicknameView.swift
  Manito/Manito/Screens/ParticipateRoom/View/ParticipateRoomView.swift
  Manito/Manito/Util/Literal/en.lproj/Localizable.strings
Labels: ▪️ Detail-ing, ▪️ Nickname, ▪️ Create Room, 🔨 Refactor, 👾 호야, ▪️ ParticipateRoom

#562 [REFACTOR] Splash 화면을 MVVM 패턴으로 리팩토링했습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/App/SceneDelegate.swift
  Manito/Manito/Domain/Entity/EntryType.swift
  Manito/Manito/Domain/Usecase/SplashScene/SplashUsecase.swift
  Manito/Manito/Presentation/Scene/LetterScene/ViewController/LetterViewController.swift
  Manito/Manito/Presentation/Scene/LetterScene/ViewController/SendLetterViewController.swift
  Manito/Manito/Presentation/Scene/SplashScene/View/SplashView.swift
  Manito/Manito/Presentation/Scene/SplashScene/ViewController/SplashViewController.swift
  Manito/Manito/Presentation/Scene/SplashScene/ViewModel/SplashViewModel.swift
  Manito/Manito/Resource/Storyboards/Splash.storyboard
  Manito/Manito/Screens/Splash/SplashViewController.swift
  Manito/Manito/Util/Literal/GIFSet.swift
Labels: 🔨 Refactor, 👾 듀나, ▪️ Splash

#557 [FEAT] 제모옥은.. "DetailWait에 대한 Usecase 추가"로 하겠습니다. 근데 이제 비동기를 곁들인
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Data/DTO/Response/RoomInfoDTO.swift
  Manito/Manito/Data/DTO/Response/RoomListDTO.swift
  Manito/Manito/Data/DTO/Response/UserInfoDTO.swift
  Manito/Manito/Domain/Error/DetailWait/DetailWaitUsecaseError.swift
  Manito/Manito/Domain/Usecase/DetailWait/DetailWaitUseCase.swift
  Manito/Manito/Presentation/Scene/ParticipateRoomScene/ViewController/ChooseCharacterViewController.swift
  Manito/Manito/Screens/CreateRoom/CreateRoomViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Detail-Wait/Services/DetailWaitService.swift
  Manito/Manito/Screens/Detail-Wait/ViewModel/DetailWaitViewModel.swift
  Manito/Manito/Screens/InvitedCode/InvitedCodeViewController.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Util/Extension/Type/Notification+Extension.swift
  Manito/Manito/Util/Literal/TextLiteral.swift
  Manito/ManitoTests/Domain/Usecase/DetailWaitUsecaseTest.swift
  Manito/ManitoTests/Presentation/DetailWait/Service/MockDetailWaitService.swift
  Manito/ManitoTests/Presentation/DetailWait/ViewModel/DetailWaitViewModelTest.swift
Labels: ▪️ Detail-wait, 🔨 Refactor, 👾 케미

#568 [REFACTOR] OpenManittoVC를 MVVM으로 리팩토링했습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Data/DTO/Response/FriendListDTO.swift
  Manito/Manito/Domain/Error/DetailScene/DetailUsecaseError.swift
  Manito/Manito/Domain/Usecase/DetailScene/OpenManittoUsecase.swift
  Manito/Manito/Presentation/Scene/DetailScene/Detail/View/Cell/OpenManittoCollectionViewCell.swift
  Manito/Manito/Presentation/Scene/DetailScene/Detail/View/OpenManittoView.swift
  Manito/Manito/Presentation/Scene/DetailScene/Detail/View/UIComponent/OpenManittoPopupView.swift
  Manito/Manito/Presentation/Scene/DetailScene/Detail/ViewController/OpenManittoViewController.swift
  Manito/Manito/Presentation/Scene/DetailScene/Detail/ViewModel/OpenManittoViewModel.swift
  Manito/Manito/Screens/Detail-Ing/DetailingViewController.swift
  Manito/Manito/Screens/Interaction/OpenManittoViewController.swift
Labels: 🔨 Refactor, 👾 듀나, ▪️ Manitto Interaction

#570 [FIX] 인스타그램 공유가 안되는 문제를 해결했습니다.
  Manito/Manito/Data/Network/Foundation/Key+Extension.swift
  Manito/Manito/Util/Literal/URLLiteral.swift
Labels: 🐞 Bugfix, ▪️ Detail-ing, 👾 듀나

#574 [DEL] Main 스토리보드를 삭제했습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Resource/Storyboards/Base.lproj/Main.storyboard
Labels: ▪️ Main, 👾 듀나, 🛠 Chore

#569 [REFACTOR] SelectManitteeVC를 MVVM으로 리팩토링했습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Presentation/Scene/DetailScene/Detail/View/SelectManitteeView.swift
  Manito/Manito/Presentation/Scene/DetailScene/Detail/ViewController/SelectManitteeViewController.swift
  Manito/Manito/Presentation/Scene/DetailScene/Detail/ViewModel/SelectManitteeViewModel.swift
  Manito/Manito/Screens/Detail-Ing/DetailingViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Detail-Wait/ViewModel/DetailWaitViewModel.swift
  Manito/Manito/Screens/Interaction/SelectManitteeViewController.swift
  Manito/ManitoTests/Presentation/DetailWait/ViewModel/DetailWaitViewModelTest.swift
Labels: 🔨 Refactor, 👾 듀나, ▪️ Manitto Interaction

#576 [CHORE] 대기방 방 정보에 대한 Output의 타입을 Result 타입으로 변경했습니다.
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Detail-Wait/ViewModel/DetailWaitViewModel.swift
  Manito/ManitoTests/Presentation/DetailWait/ViewModel/DetailWaitViewModelTest.swift
Labels: ▪️ Detail-wait, 👾 케미, 🛠 Chore

#582 [BUGFIX] ChooseCharacterViewController 가 메모리 릭이 일어나는 부분을 수정했습니다.
  Manito/Manito/Presentation/Scene/ParticipateRoomScene/ViewController/ChooseCharacterViewController.swift
Labels: 🐞 Bugfix, 👾 호야, ▪️ Character-choose
