Repository DeveloperAcademy-POSTECH/MC2-Team5-Firefighter, pull requests merged in 2023-03, with the labels that each got.

#392 [MERGE] main 브랜치에 머지했던 release.yml 파일을 default branch(develop)에도 머지합니다.
  .github/release.yml
  .github/workflows/release-drafter.yml
  Manito/Manito.xcodeproj/project.pbxproj
Labels: 📖 Docs, ⚙️ Setting, 👾 듀나

#393 [REFACTOR] CreateLetterViewController에서 View를 분리하고 Model 코드를 수정했습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Literal/TextLiteral.swift
  Manito/Manito/Network/Foundation/NetworkError.swift
  Manito/Manito/Screens/Letter/CreateLetterViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
  Manito/Manito/Screens/Letter/UIComponent/CreateLetterPhotoView.swift
  Manito/Manito/Screens/Letter/UIComponent/CreateLetterTextView.swift
  Manito/Manito/Screens/Letter/UIComponent/IndividualMissionView.swift
  Manito/Manito/Screens/Letter/View/CreateLetterView.swift
Labels: ▪️ Letter, 🔨 Refactor, 👾 듀나

#395 [CHORE] LetterCollectionViewCell에 코드 컨벤션을 적용했습니다.
  Manito/Manito/Screens/Letter/Cell/LetterCollectionViewCell.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
Labels: ▪️ Letter, 👾 듀나, 🛠 Chore

#396 [FEAT] 쪽지에 미션을 보여주는 라벨을 추가했습니다.
  Manito/Manito/Network/API/LetterAPI.swift
  Manito/Manito/Network/EndPoint/LetterEndPoint.swift
  Manito/Manito/Network/Models/Letter.swift
  Manito/Manito/Network/Protocol/LetterProtocol.swift
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Detail-Ing/DetailngCodebaseViewController.swift
  Manito/Manito/Screens/Letter/Cell/LetterCollectionViewCell.swift
  Manito/Manito/Screens/Letter/CreateLetterViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
Labels: 🖍 Design, ▪️ Letter, 👾 듀나, ✨ Feature, 🙏 ASAP

#407 [FEAT] 쪽지가 전송되는 동안은 보내기 버튼이 비활성화 되도록 구현했습니다.
  Manito/Manito/Screens/Letter/CreateLetterViewController.swift
  Manito/Manito/Screens/Letter/View/CreateLetterView.swift
Labels: ▪️ Letter, 👾 듀나, 🙏 ASAP, 🛠 Chore, 🫶🏻 Improvement

#409 [ADD] 오픈소스 라이센스 창에 새로운 라이브러리를 추가했습니다.
  Manito/Settings.bundle/com.mono0926.LicensePlist.latest_result.txt
  Manito/Settings.bundle/com.mono0926.LicensePlist.plist
  Manito/Settings.bundle/com.mono0926.LicensePlist/GoogleAppMeasurement.plist
  Manito/Settings.bundle/com.mono0926.LicensePlist/GoogleDataTransport.plist
  Manito/Settings.bundle/com.mono0926.LicensePlist/GoogleUtilities.plist
  Manito/Settings.bundle/com.mono0926.LicensePlist/SkeletonView.plist
  Manito/Settings.bundle/com.mono0926.LicensePlist/abseil-cpp-SwiftPM.plist
  Manito/Settings.bundle/com.mono0926.LicensePlist/boringssl-SwiftPM.plist
  Manito/Settings.bundle/com.mono0926.LicensePlist/firebase-ios-sdk.plist
  Manito/Settings.bundle/com.mono0926.LicensePlist/grpc-ios.plist
  Manito/Settings.bundle/com.mono0926.LicensePlist/gtm-session-fetcher.plist
  Manito/Settings.bundle/com.mono0926.LicensePlist/leveldb.plist
  Manito/Settings.bundle/com.mono0926.LicensePlist/nanopb.plist
  Manito/Settings.bundle/com.mono0926.LicensePlist/promises.plist
  Manito/Settings.bundle/com.mono0926.LicensePlist/swift-protobuf.plist
Labels: 📖 Docs, ⚙️ Setting, 👾 듀나

#411 [DOCS] 리드미를 업데이트했습니다.
  README.md
Labels: 📖 Docs, 👾 듀나

#385 [CHORE] Splash, LoginViewController 컨벤션을 적용했습니다
  Manito/Manito/Screens/Login/LoginViewController.swift
  Manito/Manito/Screens/Splash/SplashViewController.swift
Labels: 👾 케미, ▪️ Splash, ▪️ Login, 🛠 Chore

#420 [CHORE] 배포된 v1.3.0을 develop 브랜치로 가져옵니다
  Manito/Manito.xcodeproj/project.pbxproj
Labels: 🛠 Chore

#412 [REFACTOR] GuideView를 BaseViewController에서 분리했습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Base/BaseViewController.swift
  Manito/Manito/Global/Literal/ImageLiteral.swift
  Manito/Manito/Global/Literal/TextLiteral.swift
  Manito/Manito/Global/UIComponent/GuideView.swift
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Detail-Ing/DetailngCodebaseViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
  Manito/Manito/Screens/Main/MainViewController.swift
Labels: ▪️ Detail-ing, ▪️ Main, ▪️ Letter, 🔨 Refactor, 👾 듀나

#402 [REFACTOR] CreateRoomViewController 코드 컨벤션을 통일 했습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Extension/UIView+Extension.swift
  Manito/Manito/Screens/CreateRoom/CreateRoomViewController.swift
  Manito/Manito/Screens/CreateRoom/UIComponent/CheckRoomView.swift
  Manito/Manito/Screens/CreateRoom/UIComponent/InputDateView.swift
  Manito/Manito/Screens/CreateRoom/UIComponent/InputNameView.swift
  Manito/Manito/Screens/CreateRoom/UIComponent/InputPersonView.swift
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController 2.swift
Labels: ▪️ Create Room, 🔨 Refactor, 👾 호야

#422 [FIX] 마니또 공개 화면에서 레이아웃이 깨지는 문제를 해결했습니다.
  Manito/Manito/Screens/Interaction/OpenManittoPopupViewController.swift
  Manito/Manito/Screens/Interaction/OpenManittoViewController.swift
Labels: 🐞 Bugfix, 🖍 Design, 👾 듀나, ▪️ Manitto Interaction, 🛠 Chore

#419 [CHORE] 마니또 공개 화면에서 생기는 문제들을 해결했습니다.
  Manito/Manito/Screens/Detail-Ing/DetailngCodebaseViewController.swift
  Manito/Manito/Screens/Interaction/OpenManittoPopupViewController.swift
Labels: ▪️ Detail-ing, 👾 듀나, ▪️ Manitto Interaction, 🛠 Chore, 🫶🏻 Improvement

#405 [CHORE] DetailViewController 를 삭제하고 Codebase 뷰컨트롤러를 변경했습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController 2.swift
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Detail-Ing/DetailingViewController.swift
  Manito/Manito/Screens/Interaction/SelectManittoViewController.swift
  Manito/Manito/Screens/Main/MainViewController.swift
Labels: ▪️ Detail-ing, ⚙️ Setting, 👾 호야, 🛠 Chore

#424 [CHORE] v1.4.0출시에 따른 main 브랜치를 업데이트 합니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Base/BaseViewController.swift
  Manito/Manito/Global/Extension/UIView+Extension.swift
  Manito/Manito/Global/Literal/ImageLiteral.swift
  Manito/Manito/Global/Literal/TextLiteral.swift
  Manito/Manito/Global/UIComponent/GuideView.swift
  Manito/Manito/Screens/CreateRoom/CreateRoomViewController.swift
  Manito/Manito/Screens/CreateRoom/UIComponent/CheckRoomView.swift
  Manito/Manito/Screens/CreateRoom/UIComponent/InputDateView.swift
  Manito/Manito/Screens/CreateRoom/UIComponent/InputNameView.swift
  Manito/Manito/Screens/CreateRoom/UIComponent/InputPersonView.swift
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Detail-Ing/DetailingViewController.swift
  Manito/Manito/Screens/Interaction/OpenManittoPopupViewController.swift
  Manito/Manito/Screens/Interaction/OpenManittoViewController.swift
  Manito/Manito/Screens/Interaction/SelectManittoViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
  Manito/Manito/Screens/Login/LoginViewController.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Screens/Splash/SplashViewController.swift
  README.md
Labels: Main, Minor

#425 [CHORE] v1.4.0에 따른 develop 브랜치 업데이트
  Manito/Manito.xcodeproj/project.pbxproj
Labels: 🛠 Chore
