Repository DeveloperAcademy-POSTECH/MC2-Team5-Firefighter, pull requests merged in 2023-01, with the labels that each got.

#355 [FEAT] 메인뷰 새로고침 기능 추가
  Manito/Manito/Screens/Main/MainViewController.swift
Labels: ▪️ Main, 👾 코비, ✨ Feature

#361 [FEAT] 푸시알림을 눌렀을 때 해당 방의 쪽지뷰로 이동 기능 구현
  Manito/Manito/Global/Supports/AppDelegate.swift
  Manito/Manito/Global/Supports/SceneDelegate.swift
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Detail-Ing/DetailngCodebaseViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
  Manito/Manito/Screens/Main/MainViewController.swift
Labels: 👾 케미, ✨ Feature

#364 [CHORE] v1.2출시에 따른 main 브랜치 업데이트
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/build.yml
  Manito/GoogleService-Info.plist
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Manito/Manito/Global/Extension/Notification+Extension.swift
  Manito/Manito/Global/Extension/UIColor+Extension.swift
  Manito/Manito/Global/Literal/ImageLiteral.swift
  Manito/Manito/Global/Literal/TextLiteral.swift
  Manito/Manito/Global/Resource/Assets.xcassets/ic_save.imageset/Contents.json
  Manito/Manito/Global/Resource/Assets.xcassets/ic_save.imageset/ic_save.png
  Manito/Manito/Global/Resource/Assets.xcassets/ic_save.imageset/ic_save@2x.png
  Manito/Manito/Global/Resource/Assets.xcassets/ic_save.imageset/ic_save@3x.png
  Manito/Manito/Global/Resource/GIFs/capsule.gif
  Manito/Manito/Global/Resource/GIFs/joystick.gif
  Manito/Manito/Global/Resource/Storyboards/DetailIng.storyboard
  Manito/Manito/Global/Supports/AppDelegate.swift
  Manito/Manito/Global/Supports/Info.plist
  Manito/Manito/Global/Supports/Manito.entitlements
  Manito/Manito/Global/Supports/SceneDelegate.swift
  Manito/Manito/Global/UIComponent/MoreButton.swift
  Manito/Manito/Global/UIComponent/ToastPopupView.swift
  Manito/Manito/Network/API/DetailDoneAPI.swift
  Manito/Manito/Network/EndPoint/DetailDoneEndPoint.swift
  Manito/Manito/Network/EndPoint/LoginEndPoint.swift
  Manito/Manito/Network/Models/Request/LoginDTO.swift
  Manito/Manito/Network/Models/Room.swift
  Manito/Manito/Network/Protocol/DetailDoneProtocol.swift
  Manito/Manito/Network/Storage/UserDefaultHandler.swift
  Manito/Manito/Network/Storage/UserDefaultStorage.swift
  Manito/Manito/Screens/CheckRoom/CheckRoomViewController.swift
  Manito/Manito/Screens/CheckRoom/UIComponent/PeopleInfoView.swift
  Manito/Manito/Screens/CheckRoom/UIComponent/RoomInfoView.swift
  Manito/Manito/Screens/ChooseCharacter/ChooseCharacterViewController.swift
  Manito/Manito/Screens/ChooseCharacter/UIComponent/CharacterCollectionViewCell.swift
  Manito/Manito/Screens/CreateNickName/CreateNickNameViewController.swift
  Manito/Manito/Screens/CreateRoom/Component/InputNameView.swift
  Manito/Manito/Screens/CreateRoom/Component/InputPersonView.swift
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Detail-Ing/DetailngCodebaseViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailEditViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/DetailWaitTitleView.swift
  Manito/Manito/Screens/Interaction/OpenManittoViewController.swift
  Manito/Manito/Screens/Interaction/SelectManittoViewController.swift
  Manito/Manito/Screens/InvitedCode/InvitedCodeViewController.swift
  Manito/Manito/Screens/Letter/LetterImageViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
  Manito/Manito/Screens/Login/LoginViewController.swift
  Manito/Manito/Screens/Main/Cell/CreateRoomCollectionViewCell.swift
  Manito/Manito/Screens/Main/Cell/ManitoRoomCollectionCell.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Screens/Main/UIComponent/CommonMissonView.swift
  Manito/Manito/Screens/Main/UIComponent/RoomStateView.swift
  Manito/Manito/Screens/ParticipateRoom/ParticipateRoomViewController.swift
  Manito/Manito/Screens/ParticipateRoom/UIComponent/InputInvitedCodeView.swift
  Manito/Manito/Screens/Setting/ChangeNickNameViewController.swift
  Manito/Manito/Screens/Setting/SettingViewController.swift
  Manito/Manito/Screens/Splash/SplashViewController.swift
  README.md
Labels: 👾 케미, Main
