Repository DeveloperAcademy-POSTECH/MC2-Team5-Firefighter, pull requests merged in 2023-02, with the labels that each got.

#363 [FEAT] 메인뷰 방목록 로드에 스켈레톤 적용
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Manito/Manito/Screens/Main/Cell/ManitoRoomCollectionCell.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Screens/Main/UIComponent/CommonMissionView.swift
Labels: ▪️ Main, 👾 코비, ✨ Feature

#365 [CHORE] v1.2 출시에 따른 develop 브랜치 업데이트
  Manito/Manito.xcodeproj/project.pbxproj
Labels: 👾 케미, Main

#367 [MOVE] Network > Service 폴더 내부 파일와 GoogleServiceInfo 파일을 옮겼습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Supports/GoogleService-Info.plist
  Manito/Manito/Network/Foundation/APIEnvironment.swift
  Manito/Manito/Network/Foundation/APIService.swift
  Manito/Manito/Network/Foundation/Endpointable.swift
  Manito/Manito/Network/Foundation/HTTPMethod.swift
  Manito/Manito/Network/Foundation/NetworkError.swift
  Manito/Manito/Network/Foundation/NetworkRequest.swift
  Manito/Manito/Network/Foundation/Requestable.swift
Labels: 🔨 Refactor, ⚙️ Setting, 👾 듀나, 🛠 Chore

#371 [CHORE] Letter 스크린 폴더 내부에 있는 ViewController 파일들의 code convention를 맞췄습니다.
  Manito/Manito.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Manito/Manito/Global/Base/BaseViewController.swift
  Manito/Manito/Screens/CheckRoom/CheckRoomViewController.swift
  Manito/Manito/Screens/ChooseCharacter/ChooseCharacterViewController.swift
  Manito/Manito/Screens/CreateNickName/CreateNickNameViewController.swift
  Manito/Manito/Screens/CreateRoom/CreateRoomViewController.swift
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Detail-Ing/DetailngCodebaseViewController.swift
  Manito/Manito/Screens/Detail-Ing/FriendListViewController.swift
  Manito/Manito/Screens/Detail-Ing/MemoryViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailEditViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Interaction/OpenManittoPopupViewController.swift
  Manito/Manito/Screens/Interaction/OpenManittoViewController.swift
  Manito/Manito/Screens/Interaction/SelectManittoViewController.swift
  Manito/Manito/Screens/InvitedCode/InvitedCodeViewController.swift
  Manito/Manito/Screens/Letter/CreateLetterViewController.swift
  Manito/Manito/Screens/Letter/LetterImageViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController+MailCompose.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
  Manito/Manito/Screens/Login/LoginViewController.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Screens/ParticipateRoom/ParticipateRoomViewController.swift
  Manito/Manito/Screens/Setting/ChangeNickNameViewController.swift
  Manito/Manito/Screens/Setting/SettingViewController.swift
  Manito/Manito/Screens/SettingDeveloperInfo/SettingDeveloperInfoViewController.swift
Labels: ▪️ Letter, 👾 듀나

#369 [REFACTOR] DetailWaitViewController 모델관련 코드 분리
  Manito/Manito/Network/Models/Room.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
Labels: ▪️ Detail-wait, 🔨 Refactor, 👾 케미

#377 [CHORE] 대기중 방의 코드 컨벤션을 적용했습니다.
  Manito/Manito/Screens/Detail-Wait/DetailEditViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/CalendarView.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/DetailWaitTitleView.swift
Labels: ▪️ Detail-wait, 👾 케미, 🛠 Chore

#383 [FIX] 마니또 공개 텍스트 잘림 현상 해결
  Manito/Manito/Screens/Interaction/OpenManittoPopupViewController.swift
Labels: 🐞 Bugfix, 👾 케미, ▪️ Manitto Interaction, 🙏 ASAP

#379 [CHORE] Letter > UIComponent 폴더에 포함되어 있는 UIView들의 컨벤션을 맞췄습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Literal/TextLiteral.swift
  Manito/Manito/Screens/Letter/CreateLetterViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
  Manito/Manito/Screens/Letter/UIComponent/BottomOfSendLetterView.swift
  Manito/Manito/Screens/Letter/UIComponent/CreateLetterPhotoView.swift
  Manito/Manito/Screens/Letter/UIComponent/CreateLetterTextView.swift
  Manito/Manito/Screens/Letter/UIComponent/IndividualMissionView.swift
  Manito/Manito/Screens/Letter/UIComponent/LetterHeaderView.swift
  Manito/Manito/Screens/Letter/UIComponent/LetterPhotoView.swift
Labels: ▪️ Letter, 🔨 Refactor, 👾 듀나, 🛠 Chore

#390 [DOCS] Release 노트를 구성하는 YAML 파일을 생성하고 노트 생성 자동화를 진행했습니다.
  .github/release.yml
  .github/workflows/release-drafter.yml
Labels: 🤖 CI, 📖 Docs, ⚙️ Setting, 👾 듀나, 🧪 experiment

#380 [FEAT] 카메라 권한 관련 코드 추가 및 Picker Delegate 코드 수정
  Manito/Manito/Global/Extension/UIViewController+Extension.swift
  Manito/Manito/Global/Literal/TextLiteral.swift
  Manito/Manito/Screens/Letter/UIComponent/CreateLetterPhotoView.swift
Labels: ▪️ Letter, 👾 듀나, ✨ Feature, 🛠 Chore

#386 [REFACTOR] LetterImageViewController에서 View를 분리했습니다.
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito/Global/Error/Screens/Letter/LetterImageError.swift
  Manito/Manito/Screens/Detail-Ing/MemoryViewController.swift
  Manito/Manito/Screens/Letter/LetterImageViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
  Manito/Manito/Screens/Letter/View/LetterImageView.swift
Labels: ▪️ Letter, 🔨 Refactor, 👾 듀나, 🧪 experiment

#387 [CHORE] v1.2.1 출시에 따른 main 브랜치 업데이트
  .github/release.yml
  .github/workflows/release-drafter.yml
  Manito/Manito.xcodeproj/project.pbxproj
  Manito/Manito.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Manito/Manito/Global/Base/BaseViewController.swift
  Manito/Manito/Global/Supports/GoogleService-Info.plist
  Manito/Manito/Network/Foundation/APIEnvironment.swift
  Manito/Manito/Network/Foundation/APIService.swift
  Manito/Manito/Network/Foundation/Endpointable.swift
  Manito/Manito/Network/Foundation/HTTPMethod.swift
  Manito/Manito/Network/Foundation/NetworkError.swift
  Manito/Manito/Network/Foundation/NetworkRequest.swift
  Manito/Manito/Network/Foundation/Requestable.swift
  Manito/Manito/Network/Models/Room.swift
  Manito/Manito/Screens/CheckRoom/CheckRoomViewController.swift
  Manito/Manito/Screens/ChooseCharacter/ChooseCharacterViewController.swift
  Manito/Manito/Screens/CreateNickName/CreateNickNameViewController.swift
  Manito/Manito/Screens/CreateRoom/CreateRoomViewController.swift
  Manito/Manito/Screens/Detail-Ing/DetailIngViewController.swift
  Manito/Manito/Screens/Detail-Ing/DetailngCodebaseViewController.swift
  Manito/Manito/Screens/Detail-Ing/FriendListViewController.swift
  Manito/Manito/Screens/Detail-Ing/MemoryViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailEditViewController.swift
  Manito/Manito/Screens/Detail-Wait/DetailWaitViewController.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/CalendarView.swift
  Manito/Manito/Screens/Detail-Wait/UIComponent/DetailWaitTitleView.swift
  Manito/Manito/Screens/Interaction/OpenManittoPopupViewController.swift
  Manito/Manito/Screens/Interaction/OpenManittoViewController.swift
  Manito/Manito/Screens/Interaction/SelectManittoViewController.swift
  Manito/Manito/Screens/InvitedCode/InvitedCodeViewController.swift
  Manito/Manito/Screens/Letter/CreateLetterViewController.swift
  Manito/Manito/Screens/Letter/LetterImageViewController.swift
  Manito/Manito/Screens/Letter/LetterViewController+MailCompose.swift
  Manito/Manito/Screens/Letter/LetterViewController.swift
  Manito/Manito/Screens/Login/LoginViewController.swift
  Manito/Manito/Screens/Main/Cell/ManitoRoomCollectionCell.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Screens/Main/UIComponent/CommonMissionView.swift
  Manito/Manito/Screens/ParticipateRoom/ParticipateRoomViewController.swift
  Manito/Manito/Screens/Setting/ChangeNickNameViewController.swift
  Manito/Manito/Screens/Setting/SettingViewController.swift
  Manito/Manito/Screens/SettingDeveloperInfo/SettingDeveloperInfoViewController.swift
Labels: Main, Patch

#375 [CHORE] Main 폴더 내부 컨벤션 정리
  Manito/Manito/Global/Base/BaseCollectionViewCell.swift
  Manito/Manito/Global/Literal/TextLiteral.swift
  Manito/Manito/Screens/ChooseCharacter/UIComponent/CharacterCollectionViewCell.swift
  Manito/Manito/Screens/Detail-Ing/Cell/MemoryCollectionViewCell.swift
  Manito/Manito/Screens/Interaction/Cell/ManittoCollectionViewCell.swift
  Manito/Manito/Screens/Letter/Cell/LetterCollectionViewCell.swift
  Manito/Manito/Screens/Main/Cell/CreateRoomCollectionViewCell.swift
  Manito/Manito/Screens/Main/Cell/ManitoRoomCollectionCell.swift
  Manito/Manito/Screens/Main/MainViewController.swift
  Manito/Manito/Screens/Main/UIComponent/CommonMissionView.swift
  Manito/Manito/Screens/Main/UIComponent/RoomStateView.swift
  Manito/Manito/Screens/SettingDeveloperInfo/Cell/DeveloperInfoViewCell.swift
Labels: ▪️ Main, 👾 코비, 🛠 Chore
